Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2021-09, with the labels that each got.

#1602 vmalert: add initial UI implementation
  app/vmalert/Makefile
  app/vmalert/README.md
  app/vmalert/alerting.go
  app/vmalert/tpl/footer.qtpl
  app/vmalert/tpl/footer.qtpl.go
  app/vmalert/tpl/header.qtpl
  app/vmalert/tpl/header.qtpl.go
  app/vmalert/tpl/nav.qtpl
  app/vmalert/tpl/nav.qtpl.go
  app/vmalert/web.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
  app/vmalert/web_types.go
Labels: vmalert

#1613 vmalert: display extra filter labels in UI
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#1614 vmalert: support bearer token for datasource, remotewrite and remoteread
  app/vmalert/README.md
  app/vmalert/datasource/init.go
  app/vmalert/datasource/vm.go
  app/vmalert/datasource/vm_test.go
  app/vmalert/remoteread/init.go
  app/vmalert/remotewrite/init.go
  app/vmalert/remotewrite/remotewrite.go
Labels: vmalert

#1617 docs: add "Choosing a Time Series Database for High Cardinality Aggrgations" article
  docs/Articles.md
Labels: docs

#1619 vmui: change query params compatible with prometheus
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
  app/vmui/packages/vmui/src/utils/time.ts
Labels: vmui

#1622 vmalert: add new metric `vmalert_remotewrite_flush_duration_seconds`
  app/vmalert/remotewrite/remotewrite.go
Labels: vmalert

#1649 app/vmalert: remove unnecessary `omitempty` tag for `interval` param
  app/vmalert/config/config.go
  app/vmalert/config/config_test.go
  app/vmalert/group.go
Labels: vmalert

#1648 app/vmctl: fix misleading comment about cluster version for native mode
  app/vmctl/README.md
Labels: vmctl

#1647 app/vmselect: make sorting for query result similar to Prometheus
  app/vmselect/promql/exec.go
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/timeseries.go
Labels: metricsql

#1646 app/vmselect: `quantile` func compatiblity with Prometheus
  app/vmselect/promql/aggr.go
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/rollup.go
  app/vmselect/promql/rollup_test.go
  app/vmselect/promql/transform.go
Labels: metricsql

#1662 app/vmselect: rm `quantile_over_time` fast-path optimisations
  app/vmselect/promql/rollup.go
Labels: metricsql

#1660 app/vmselect: return NaN instead of 0 for empty value sets
  app/vmselect/promql/rollup.go
Labels: metricsql

#1659 app/vmselect: always return zero for `stddev` func if there is only one value
  app/vmselect/promql/rollup.go
Labels: metricsql

#1658 app/vmselect: disable time-window adjustment for `min/max_over_time`
  app/vmselect/promql/rollup.go
Labels: metricsql

#1666 app/vmselect: fix `testRowsEqual` func NaN checks
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/rollup_test.go
Labels: metricsql

#1667 app/vmselect: fix binary comparison func
  app/vmselect/promql/binary_op.go
  app/vmselect/promql/exec_test.go
Labels: metricsql
