Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2021-11, with the labels that each got.

#1782 docs: make link to logos zip absolute
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#1853 vmui: remove saving the last query to local storage
  app/vmui/packages/vmui/src/components/Home/Configurator/useFetchQuery.ts
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/storage.ts
Labels: vmui

#1854 vmui: handle an error in a table with subqueries
  app/vmui/packages/vmui/src/components/Home/Views/TableView.tsx
Labels: vmui

#1855 vmui: store display type in URL
  app/vmui/packages/vmui/src/components/Home/Configurator/DisplayTypeSwitch.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#1870 vmalert: make notifier.Addr optional
  app/vmalert/README.md
  app/vmalert/main_test.go
  app/vmalert/manager.go
  app/vmalert/manager_test.go
  app/vmalert/notifier/init.go
Labels: vmalert
