Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2021-12, with the labels that each got.

#1890 Vmalert docs upd
  app/vmalert/README.md
  app/vmalert/vmalert_cluster.excalidraw
  app/vmalert/vmalert_cluster.png
  app/vmalert/vmalert_ha.excalidraw
  app/vmalert/vmalert_ha.png
  app/vmalert/vmalert_multicluster.excalidraw
  app/vmalert/vmalert_multicluster.png
  app/vmalert/vmalert_single.excalidraw
  app/vmalert/vmalert_single.png
  docs/vmalert.md
  docs/vmalert_cluster.png
  docs/vmalert_ha.png
  docs/vmalert_multicluster.png
  docs/vmalert_single.png
Labels: vmalert

#1891 added guide-vmcluster-multiple-retention-setup to guides list
  docs/guides/README.md
Labels: docs

#1898 vmauth: support for reading remote auth config file
  app/vmauth/README.md
  app/vmauth/auth_config.go
  app/vmauth/auth_config_test.go
Labels: vmauth

#1922 vmalert: update the order of service labels attaching
  app/vmalert/alerting.go
  app/vmalert/alerting_test.go
Labels: vmalert

#1923 vmui: add a label for the Query field
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.1b10b1ed.chunk.css
  app/vmselect/vmui/static/css/main.83d9ae2d.chunk.css
  app/vmselect/vmui/static/js/main.20dd555e.chunk.js
  app/vmselect/vmui/static/js/main.9f03a409.chunk.js
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/components/Home/HomeLayout.tsx
  app/vmui/packages/vmui/src/index.css
  app/vmui/packages/vmui/src/theme/theme.ts
  app/vmui/packages/vmui/src/types/index.ts
Labels: vmui

#1936 vmui: minor fixes
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/2.537a69aa.chunk.js
  app/vmselect/vmui/static/js/2.f1e36397.chunk.js
  app/vmselect/vmui/static/js/2.f1e36397.chunk.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.33e45f18.chunk.js
  app/vmselect/vmui/static/js/main.91f83fc1.chunk.js
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/components/Home/HomeLayout.tsx
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  docs/CHANGELOG.md
Labels: vmui

#1942 vmui: custom step
  README.md
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/2.ef1db8c8.chunk.js
  app/vmselect/vmui/static/js/2.ef1db8c8.chunk.js.LICENSE.txt
  app/vmselect/vmui/static/js/2.f1e36397.chunk.js
  app/vmselect/vmui/static/js/main.33e45f18.chunk.js
  app/vmselect/vmui/static/js/main.6651c49c.chunk.js
  app/vmui/packages/vmui/src/components/Home/Configurator/Graph/AxesLimitsConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Graph/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/state/graph/reducer.ts
  app/vmui/packages/vmui/src/theme/theme.ts
  docs/CHANGELOG.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: vmui

#1949 vmui: introduce application mode
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.6651c49c.chunk.js
  app/vmselect/vmui/static/js/main.7fc9cf07.chunk.js
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/utils/app-mode.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#1954 vmui: restore query string writing for app mode
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#1951 docs: update `MetricsQL`.`Subquery` section description
  docs/MetricsQL.md
Labels: docs

#1950 docs: add Benchmarks section
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#1955 vmalert: always convert `step` value to seconds for better compatibility
  app/vmalert/datasource/vm_prom_api.go
  app/vmalert/datasource/vm_test.go
Labels: vmalert

#1973 Dashboards vmagent updates
  dashboards/vmagent.json
  deployment/docker/alerts.yml
Labels: dashboard, vmagent

#1980 Dashboards vmsingle
  dashboards/victoriametrics.json
Labels: dashboard

#1983 Dashboards cluster
  dashboards/victoriametrics.json
Labels: dashboard

#1984 dashboards/vmagent: fix cached datasource uid
  dashboards/vmagent.json
Labels: dashboard

#1982 vmui: graph fixes
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.23f635e5.js
  app/vmselect/vmui/static/js/main.23f635e5.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.4305bd17.js
  app/vmui/packages/vmui/src/components/Home/Configurator/Graph/AxesLimitsConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/components/Home/HomeLayout.tsx
  app/vmui/packages/vmui/src/components/Home/Views/GraphView.tsx
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/hooks/useResize.ts
  app/vmui/packages/vmui/src/state/graph/reducer.ts
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  app/vmui/packages/vmui/src/utils/uplot/tooltip.ts
  app/vmui/packages/vmui/src/utils/uplot/types.ts
Labels: vmui

#1986 bump revision of dashboards in guides to latest
  docs/guides/getting-started-with-vm-operator.md
  docs/guides/k8s-monitoring-via-vm-cluster.md
  docs/guides/k8s-monitoring-via-vm-single.md
Labels: dashboard, docs

#1956 vmagent: add error log for skipped data block when rejected by receiv…
  app/vmagent/remotewrite/client.go
  lib/logger/throttler.go
  lib/logger/throttler_test.go
Labels: vmagent

#1989 vmui: add custom start range
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.23f635e5.js
  app/vmselect/vmui/static/js/main.2587cf95.js
  app/vmselect/vmui/static/js/main.2587cf95.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/TimeDurationSelector.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/time.ts
Labels: vmui

#1990 vmalert: check if remoteWrite is configured for replay mode
  app/vmalert/main.go
Labels: vmalert

#1993 dashboards: migrate from old table panel in cluster dashboard
  dashboards/victoriametrics.json
Labels: dashboard
