Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-03, with the labels that each got.

#2264 vmui: update packages
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.2a9382c2.js
  app/vmselect/vmui/static/js/main.a292ed17.js
  app/vmselect/vmui/static/js/main.a292ed17.js.LICENSE.txt
  app/vmui/packages/vmui/package-lock.json
Labels: vmui

#2295 docs: add update details for some releases
  docs/CHANGELOG.md
Labels: docs

#2349 docs: update release notes
  docs/CHANGELOG.md
Labels: docs

#2384 Update alpine linux base image to the latest v3.15.3
  deployment/docker/Makefile
Labels: enhancement

#2387 vmalert: protect executor's field from concurrent access
  app/vmalert/group.go
Labels: vmalert
