Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-06, with the labels that each got.

#2685 Add Content-Encoding Header to remote-write request
  app/vmalert/remotewrite/remotewrite.go
  app/vmalert/remotewrite/remotewrite_test.go
Labels: enhancement

#2677 vmagent: update SD duration histogram metric if SD is active
  lib/promscrape/scraper.go
Labels: vmagent

#2716 vmui: fix relative time and query params
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#2715 Readme cleanup
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
  docs/guides/k8s-monitoring-via-vm-single.md
  docs/keyConcepts.md
Labels: docs

#2720 docs: migrating from influx
  docs/guides/migrate-from-influx.md
Labels: docs

#2728 docs: reduce free disk recommendation from 30% to 20%
  README.md
  docs/Cluster-VictoriaMetrics.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#2723 dashboards: add cpu usage panels per each component type
  dashboards/victoriametrics.json
Labels: dashboard

#2744 Vmalert notifiers
  app/vmalert/group.go
  app/vmalert/group_test.go
  app/vmalert/helpers_test.go
  app/vmalert/notifier/init.go
  app/vmalert/utils/err_group.go
  app/vmalert/utils/err_group_test.go
Labels: vmalert

#2745 docs: reference links from key concepts
  README.md
  app/vmalert/README.md
  docs/MetricsQL.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
  docs/url-examples.md
  docs/vmalert.md
Labels: docs

#2764 url-examples: added curl output after deleting metrics
  docs/url-examples.md
Labels: docs

#2766 docs: follow-up for 197d3cdd7488dfff1f1030409bec9ed91fc602e0
  app/vmalert/README.md
  docs/vmalert.md
Labels: docs

#2769 Adds a list of supported architectures
  docs/BestPractices.md
Labels: enhancement, docs

#2773 dashboards: update cluster dashboard
  dashboards/victoriametrics.json
Labels: dashboard

#2784 vmalert: use absolute path for assets
  app/vmalert/tpl/footer.qtpl
  app/vmalert/tpl/footer.qtpl.go
  app/vmalert/tpl/header.qtpl
  app/vmalert/tpl/header.qtpl.go
Labels: vmalert

#2783 vmalert: make `__name__` available for templating in alerts
  app/vmalert/alerting.go
  app/vmalert/alerting_test.go
Labels: vmalert
