Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-08, with the labels that each got.

#2916 deployment/docker/Makefile: added docker-scan
  Makefile
  deployment/docker/Makefile
Labels: enhancement

#2915 vmui: graph action on moush hold and move
  README.md
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.0b7f7f5f.js
  app/vmselect/vmui/static/js/main.e97de856.js
  app/vmselect/vmui/static/js/main.e97de856.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/utils/uplot/events.ts
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
  docs/CHANGELOG.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: vmui

#2960 dashboards: add `Cache usage %` panel to Caches row
  dashboards/victoriametrics.json
Labels: dashboard

#2964 dashboards: add `Cache usage %` panel to Caches row
  dashboards/victoriametrics.json
Labels: dashboard

#2968 vmalert: sort groups at `/alerts` page
  app/vmalert/web.go
Labels: vmalert

#2971 vmui: shortcut keys legend
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.7e6d0c89.css
  app/vmselect/vmui/static/css/main.9b22c3e0.css
  app/vmselect/vmui/static/js/main.b8df40e9.js
  app/vmselect/vmui/static/js/main.b8df40e9.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.e97de856.js
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Legend/legend.css
  app/vmui/packages/vmui/src/components/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/index.css
  docs/CHANGELOG.md
Labels: vmui

#2981 docs: mention default vmalert's behavior change in Update notes
  docs/CHANGELOG.md
Labels: docs

#2983 vmalert: support `$alertID` and `$groupID` in template variables
  app/vmalert/README.md
  app/vmalert/main.go
  app/vmalert/notifier/alert.go
  app/vmalert/notifier/alert_test.go
  docs/vmalert.md
Labels: vmalert

#2987 docs: update vmalert docs
  app/vmalert/README.md
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#2995 deployment/docker-compose.yml: bump Grafana version to latest 9.1.0
  deployment/docker/docker-compose.yml
Labels: enhancement

#2996 deployment/docker-compose.yml: bump Grafana version to latest 9.1.0
  deployment/docker/docker-compose.yml
Labels: enhancement

#3007 docs: follow-up after 88425bb2854b2f186af4074b24100e0f18f5e5b8
  app/vmalert/README.md
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: docs

#3035 deployment/docker/Makefile: bump version of Alpine linux to latest 3.16.2
  deployment/docker/Makefile
Labels: enhancement

#3041 snap/snapcraft.yml: fixed broken link
  snap/snapcraft.yaml
Labels: enhancement, docs
