Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-12, with the labels that each got.

#3420 vmalert: properly pass headers during the restore procedure
  app/vmalert/group.go
  docs/CHANGELOG.md
Labels: vmalert

#3433 docs/Articles.md: fix broken link
  docs/Articles.md
Labels: docs

#3436 dashboards: add `Disk space usage %` and `Disk space usage % by type`…
  dashboards/victoriametrics-cluster.json
  deployment/docker/alerts-cluster.yml
Labels: dashboard

#3437 vmui: fix tooltip sizing
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
Labels: vmui

#3448 vmui: fix multi-line query
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#3414 vmui: timezone select
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Configurators/CardinalityDatePicker/CardinalityDatePicker.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/LimitsConfigurator/LimitsConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/LimitsConfigurator/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/ServerConfigurator/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/Timezones.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeDurationSelector/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/Calendar.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/CalendarBody/CalendarBody.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/DatePicker.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/constants/dayjsPlugins.ts
  app/vmui/packages/vmui/src/contexts/Snackbar.tsx
  app/vmui/packages/vmui/src/hooks/useClickOutside.ts
  app/vmui/packages/vmui/src/index.tsx
  app/vmui/packages/vmui/src/state/cardinality/reducer.ts
  app/vmui/packages/vmui/src/state/time/reducer.ts
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  app/vmui/packages/vmui/src/utils/time.ts
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
  docs/CHANGELOG.md
Labels: vmui

#3449 vmui: select a single query by clicking the `eye` icon with `Ctrl`
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
Labels: vmui

#3452 vmalert: correctly return error for RW failures
  app/vmalert/group.go
  app/vmalert/group_test.go
  docs/CHANGELOG.md
Labels: vmalert

#3453 dashboards: add non-default flags panel for vmagent
  dashboards/vmagent.json
Labels: dashboard

#3456 dashboards: remove DataLinks from single version
  dashboards/victoriametrics.json
Labels: dashboard

#3467 vmalert: do not hold pointer to http.Request
  app/vmalert/alerting.go
  app/vmalert/recording.go
  app/vmalert/rule.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#3473 dashboards: add VersionChange annotation
  dashboards/victoriametrics-cluster.json
  dashboards/victoriametrics.json
  dashboards/vmalert.json
Labels: dashboard

#3474 vmalert: support `$for` or `.For` template variables
  app/vmalert/README.md
  app/vmalert/alerting.go
  app/vmalert/notifier/alert.go
  app/vmalert/notifier/alert_test.go
  app/vmalert/templates/template.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#3471 vmui: minor enhancements
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/components/Header/style.scss
  app/vmui/packages/vmui/src/components/Layout/Footer/Footer.tsx
  app/vmui/packages/vmui/src/components/Layout/Footer/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
  app/vmui/packages/vmui/src/components/Layout/style.scss
  app/vmui/packages/vmui/src/components/Main/Checkbox/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/style.scss
  app/vmui/packages/vmui/src/components/Main/Tabs/Tabs.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/MetricsContent.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableCells/TableCells.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/styles/core.scss
Labels: vmui

#3480 vmui: fix query select from autocomplete
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
Labels: vmui

#3487 dashboards: respect $job var in sub-vars for cluster dash
  dashboards/victoriametrics-cluster.json
Labels: dashboard

#3514 vmui: fix wrong legend when queries are hidden
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  docs/CHANGELOG.md
Labels: vmui

#3509 docs: fix the image link
  README.md
Labels: docs

#3521 vmui: step
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/utils/time.ts
Labels: vmui

#3470 vmui: add explore tab for exploration of metrics, which belong to a particular job/instance
  app/vmui/packages/vmui/.env
  app/vmui/packages/vmui/README.md
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/explore-metrics.ts
  app/vmui/packages/vmui/src/components/Layout/Footer/Footer.tsx
  app/vmui/packages/vmui/src/components/Layout/Footer/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/PreviewIcons.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/style.scss
  app/vmui/packages/vmui/src/components/Main/Modal/style.scss
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/Select/style.scss
  app/vmui/packages/vmui/src/components/Main/Switch/Switch.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/ExploreMetricItem/ExploreMetricItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/ExploreMetricItem/ExploreMetricItemGraph.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/ExploreMetricItem/style.scss
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useFetchInstances.ts
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useFetchJobs.ts
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useFetchNames.ts
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/ExploreMetrics/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/styles/components/link.scss
  app/vmui/packages/vmui/src/styles/style.scss
  app/vmui/packages/vmui/src/styles/variables.scss
  docs/CHANGELOG.md
Labels: vmui

#3562 vmui: fix title in the graph tooltip
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/ChartTooltip.tsx
Labels: vmui
