Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-10, with the labels that each got.

#3168 docs: Update How to send data from DataDog agent
  docs/Sending_DD_metrics_to_VM.png
  docs/Sending_DD_metrics_to_VM_and_DDhq.png
  docs/Single-server-VictoriaMetrics.md
  docs/url-examples.md
Labels: docs

#3194 vmalert: allow using `{{$labels}}` for templating in `-external.alert.source`
  app/vmalert/main.go
  app/vmalert/main_test.go
  docs/CHANGELOG.md
Labels: vmalert

#3196 vmui: maximum queries
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/CustomPanel.tsx
  app/vmui/packages/vmui/src/components/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Legend/legend.css
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/utils/query-string.ts
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  app/vmui/packages/vmui/src/utils/uplot/tooltip.ts
  docs/CHANGELOG.md
Labels: vmui

#3222 vmalert: revert unexpected fileds rename during refactoring
  app/vmalert/notifier/alertmanager_request.qtpl.go
  app/vmalert/web_types.go
Labels: vmalert

#3229 vmui: limit number of plotted series
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.c0e3dc67.js
  app/vmselect/vmui/static/js/main.c0e3dc67.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.dd4b1276.js
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/CustomPanel.tsx
  app/vmui/packages/vmui/src/components/PredefinedPanels/PredefinedPanels.tsx
  app/vmui/packages/vmui/src/config.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
  docs/CHANGELOG.md
Labels: vmui

#3234 k8s-monitoring-via-vm-cluster.md: removed extra spaces
  docs/guides/k8s-monitoring-via-vm-cluster.md
Labels: docs

#3238 vmui: remove rounding of axis limits
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
Labels: vmui

#3237 vmalert: lower severity level for RW retries
  app/vmalert/remotewrite/remotewrite.go
  docs/CHANGELOG.md
Labels: vmalert

#3252 vmui: extend options for app mode
  app/vmui/packages/vmui/README.md
  app/vmui/packages/vmui/public/index.html
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Graph/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Settings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Settings/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Settings/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/CustomPanel.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Views/GraphView.tsx
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/LineChart/tooltip.css
  app/vmui/packages/vmui/src/components/Main/DatePicker/DatePicker.tsx
  app/vmui/packages/vmui/src/components/PredefinedPanels/PredefinedPanels.tsx
  app/vmui/packages/vmui/src/components/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings.tsx
  app/vmui/packages/vmui/src/components/common/Logo.tsx
  app/vmui/packages/vmui/src/hooks/useCardinalityFetch.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.ts
  app/vmui/packages/vmui/src/hooks/useFetchTopQueries.ts
  app/vmui/packages/vmui/src/index.css
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/state/graph/reducer.ts
  app/vmui/packages/vmui/src/theme/theme.ts
  app/vmui/packages/vmui/src/utils/app-mode.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#3255 vmui: optimize memory
  app/vmui/packages/vmui/src/components/CustomPanel/Views/GraphView.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
Labels: vmui

#2829 Docs: add guide "How to delete and replace metrics"
  docs/Makefile
  docs/guides/README.md
  docs/guides/guide-delete-or-replace-metrics.md
Labels: docs

#3256 vmui: add responsive styles for small screens
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Views/GraphView.tsx
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/PredefinedPanels/PredefinedPanels.tsx
  docs/CHANGELOG.md
Labels: vmui

#3258 vmui: limit the number of decimal places to 10 characters
  app/vmui/packages/vmui/src/components/CustomPanel/Views/GraphView.tsx
  app/vmui/packages/vmui/src/utils/math.ts
Labels: vmui

#3270 vmui: change step setting field
  README.md
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/StepConfigurator.tsx
  app/vmui/packages/vmui/src/index.css
  app/vmui/packages/vmui/src/state/graph/reducer.ts
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: vmui

#3277 .github/workflows/codeql-analysis.yml: specifically setting the Go version
  .github/workflows/codeql-analysis.yml
Labels: enhancement, go, github_actions

#3276 vmui: minor fixes
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Settings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Settings/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/hooks/useFetchTopQueries.ts
Labels: vmui
