Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-04, with the labels that each got.

#2403 vmalert: fix labels and annotations processing for alerts
  app/vmalert/alerting.go
  app/vmalert/alerting_test.go
  app/vmalert/group_test.go
  app/vmalert/main.go
  app/vmalert/manager.go
  app/vmalert/notifier/alert.go
  app/vmalert/notifier/alert_test.go
Labels: vmalert

#2437 docs: add managed vm documentation section
  docs/managed_victoriametrics/README.md
  docs/managed_victoriametrics/quickstart-instance-create.png
  docs/managed_victoriametrics/quickstart-instance-provisioning.png
  docs/managed_victoriametrics/quickstart-instances.png
  docs/managed_victoriametrics/quickstart-token-usage.png
  docs/managed_victoriametrics/quickstart-tokens.png
  docs/managed_victoriametrics/quickstart.md
Labels: docs

#2463 Update CHANGELOG.md
  docs/CHANGELOG.md
Labels: docs

#2465 vmalert: add DNS service discovery
  app/vmalert/Makefile
  app/vmalert/README.md
  app/vmalert/notifier/config.go
  app/vmalert/notifier/config_test.go
  app/vmalert/notifier/config_watcher.go
  app/vmalert/notifier/init.go
  app/vmalert/notifier/testdata/dns.good.yaml
  app/vmalert/notifier/testdata/mixed.good.yaml
  docs/vmalert.md
Labels: vmalert

#2456 fix: prevent graph hiding without data
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.1754e6b5.js
  app/vmselect/vmui/static/js/main.1754e6b5.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.d940c8c2.js
  app/vmui/packages/vmui/src/components/CustomPanel/Views/GraphView.tsx
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  docs/CHANGELOG.md
Labels: vmui

#2493 Cluster dashboards
  dashboards/clusterbytenant.json
  dashboards/victoriametrics.json
  dashboards/vmagent.json
Labels: dashboard

#2492 Single dashboards
  dashboards/clusterbytenant.json
  dashboards/victoriametrics.json
  dashboards/vmagent.json
Labels: dashboard

#2504 vmui: add support relative time
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.1754e6b5.js
  app/vmselect/vmui/static/js/main.3e17cf70.js
  app/vmselect/vmui/static/js/main.3e17cf70.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeDurationSelector.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
  app/vmui/packages/vmui/src/utils/time.ts
  docs/CHANGELOG.md
Labels: vmui
