Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-11, with the labels that each got.

#3294 docker-compose: bump version of container tags for VictoriaMetrics components
  deployment/docker/docker-compose-cluster.yml
  deployment/docker/docker-compose.yml
Labels: enhancement

#3315 vmui: change graph legend label format
  app/vmui/packages/vmui/src/components/Legend/Legend.tsx
Labels: vmui

#3331 guides/README.md: fix link to guide-delete-or-replace-metrics.html
  docs/guides/README.md
Labels: enhancement, docs

#3316 vmui: show tracing in json view
  app/vmui/packages/vmui/src/components/CustomPanel/CustomPanel.tsx
Labels: vmui

#3359 vmui: add ability hide query
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  docs/CHANGELOG.md
Labels: vmui

#3310 vmui: add trace analyzer
  README.md
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.44a8ea12.css
  app/vmselect/vmui/static/css/main.f2cbb582.css
  app/vmselect/vmui/static/js/main.d0509bc3.js
  app/vmselect/vmui/static/js/main.da9caa97.js
  app/vmselect/vmui/static/js/main.da9caa97.js.LICENSE.txt
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Main/Alert/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/style.scss
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/Trace.ts
  app/vmui/packages/vmui/src/components/TraceQuery/TracingsView.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/style.scss
  app/vmui/packages/vmui/src/components/Views/JsonView/JsonView.tsx
  app/vmui/packages/vmui/src/pages/TracePage/JsonForm/JsonForm.tsx
  app/vmui/packages/vmui/src/pages/TracePage/JsonForm/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/styles/core.scss
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: vmui

#3376 vmui: sticky tooltip
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Chart/LineChart/style.scss
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/styles/variables.scss
  app/vmui/packages/vmui/src/utils/uplot/tooltip.ts
  app/vmui/packages/vmui/src/utils/uplot/types.ts
  docs/CHANGELOG.md
Labels: vmui

#3361 vmui: minor fixes
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/styles/core.scss
Labels: vmui

#3363 vmui: add copy button to row on Table view
  app/vmui/packages/vmui/src/components/Views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
Labels: vmui

#3368 vmui: add set up series custom limits
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/LimitsConfigurator/LimitsConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/LimitsConfigurator/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/ServerConfigurator/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Alert/Alert.tsx
  app/vmui/packages/vmui/src/components/Main/Alert/style.scss
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/constants/graph.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/style.scss
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/CHANGELOG.md
Labels: vmui

#3380 dashboards: cluster dashboard update
  dashboards/victoriametrics-cluster.json
  deployment/docker/alerts-cluster.yml
Labels: dashboard

#3377 vmui: improve table view
  app/vmui/packages/vmui/src/components/Views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/components/Views/TableView/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/style.scss
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/utils/metric.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/CHANGELOG.md
Labels: vmui

#3390 vmui: extract Autocomplete from QueryEditor
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/style.scss
Labels: vmui

#3391 vmui: display app settings
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/router/index.ts
Labels: vmui

#3398 deployment/docker: bump grafana version to latest v9.2.6
  deployment/docker/docker-compose-cluster.yml
  deployment/docker/docker-compose.yml
Labels: enhancement

#3401 dashboards: update VM cluster dash
  dashboards/victoriametrics-cluster.json
Labels: dashboard

#3411 dashboards: update vmagent dash
  dashboards/vmagent.json
Labels: dashboard

#3404 dashboards: update vmalert dash
  dashboards/vmalert.json
Labels: dashboard

#3400 dashboards: update VM single dash
  dashboards/victoriametrics.json
  deployment/docker/alerts.yml
Labels: dashboard
