Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-01, with the labels that each got.

#2001 fix: change query reset
  app/vmui/packages/vmui/src/components/Header/Header.tsx
Labels: vmui

#2003 vmui: replace @codemirror to text field
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/api/query-range.ts
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/useFetchQuery.ts
  app/vmui/packages/vmui/src/components/Home/HomeLayout.tsx
  app/vmui/packages/vmui/src/index.css
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#2005 vmctl: add option to rate limit data transfer speed
  app/vmctl/README.md
  app/vmctl/flags.go
  app/vmctl/limiter/limiter.go
  app/vmctl/limiter/writer.go
  app/vmctl/main.go
  app/vmctl/vm/vm.go
  app/vmctl/vm_native.go
Labels: vmctl

#2054 vmui: change layout
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.2473acb3.js
  app/vmselect/vmui/static/js/main.2473acb3.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.31aed9a0.js
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/DisplayTypeSwitch.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Graph/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Settings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Settings/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/TimeDurationPopover.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/TimeDurationSelector.tsx
  app/vmui/packages/vmui/src/components/Home/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/Home/HomeLayout.tsx
  app/vmui/packages/vmui/src/components/Home/Views/GraphView.tsx
  app/vmui/packages/vmui/src/components/Home/Views/JsonView.tsx
  app/vmui/packages/vmui/src/components/Home/Views/TableView.tsx
  app/vmui/packages/vmui/src/components/common/CircularProgressWithLabel.tsx
  app/vmui/packages/vmui/src/components/common/InlineBtn.tsx
  app/vmui/packages/vmui/src/hooks/useResize.ts
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/theme/theme.ts
Labels: vmui

#2058 vmui: correct calc axes limits
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.2473acb3.js
  app/vmselect/vmui/static/js/main.b46d35b9.js
  app/vmselect/vmui/static/js/main.b46d35b9.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
Labels: vmui

#2067 vmui: correct url encoding
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.7d03dd65.js
  app/vmselect/vmui/static/js/main.7d03dd65.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.b46d35b9.js
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/query-string.ts
  docs/CHANGELOG.md
Labels: vmui

#2060 docs: update retention docs with additional details
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#2087 vmui: copy pairs on click in legend
  app/vmui/packages/vmui/src/components/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Legend/legend.css
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  app/vmui/packages/vmui/src/utils/uplot/types.ts
Labels: vmui

#2101 vmui: add sortable columns
  app/vmui/packages/vmui/src/components/Home/Views/TableView.tsx
Labels: vmui

#2117 vmui: fix hangs when querying
  app/vmui/packages/vmui/src/utils/uplot/series.ts
Labels: vmui
