Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-07, with the labels that each got.

#2828 dashboards: small visual tweaks for vmagent's dashboard
  dashboards/vmagent.json
Labels: dashboard

#2838 docs: mention deduplication issue for HA vmalert topology
  app/vmalert/README.md
  docs/vmalert.md
Labels: vmalert

#2840 vmalert: deprecate alert's status link
  app/vmalert/README.md
  app/vmalert/main.go
  app/vmalert/main_test.go
  app/vmalert/tpl/footer.qtpl
  app/vmalert/tpl/footer.qtpl.go
  app/vmalert/tpl/header.qtpl
  app/vmalert/tpl/header.qtpl.go
  app/vmalert/utils/links.go
  app/vmalert/web.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
  app/vmalert/web_test.go
  app/vmalert/web_types.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#2842 metricsql: properly evaluate `timezone_offset` over time interval
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/transform.go
  docs/CHANGELOG.md
Labels: metricsql

#2867 vmui: optimize table view
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.6cbf53db.js
  app/vmselect/vmui/static/js/main.a6398eac.js
  app/vmselect/vmui/static/js/main.a6398eac.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/CustomPanel.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Views/TableView.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings.tsx
  app/vmui/packages/vmui/src/hooks/useSortedCategories.ts
  docs/CHANGELOG.md
Labels: vmui

#2871 vmagent: expose metric `vmagent_remotewrite_queues`
  app/vmagent/remotewrite/client.go
  dashboards/vmagent.json
  deployment/docker/alerts.yml
Labels: vmagent

#2889 docs: faq update
  docs/FAQ.md
Labels: enhancement, docs

#2890 Update golangci-lint version to latest v1.47.1
  Makefile
Labels: enhancement

#2891 vmui: change the z-index of the datepicker
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
Labels: vmui

#2902 vmselect: fix vmrangeBucketsToLE func may panic when ts value equal zero
  app/vmselect/promql/transform.go
Labels: bug
