Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-09, with the labels that each got.

#3093 vmui: change columns for Top Queries
  app/vmui/packages/vmui/src/components/TopQueries/TopQueries.tsx
  app/vmui/packages/vmui/src/components/TopQueries/TopQueryPanel/TopQueryPanel.tsx
  app/vmui/packages/vmui/src/components/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/hooks/useFetchTopQueries.ts
  app/vmui/packages/vmui/src/types/index.ts
Labels: vmui

#3055 vmalert: add `debug` mode for alerting rules
  app/vmalert/README.md
  app/vmalert/alerting.go
  app/vmalert/config/config.go
  app/vmalert/config/config_test.go
  app/vmalert/config/testdata/rules/rules2-good.rules
  app/vmalert/datasource/datasource.go
  app/vmalert/datasource/vm.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#3104 vmui: fix save query params to URL
  app/vmui/packages/vmui/src/state/common/StateContext.tsx
Labels: vmui

#3096 deployment/docker/docker-compose: expose port for vminsert
  deployment/docker/README.md
  deployment/docker/docker-compose.yml
Labels: enhancement

#3106 vmalert: add experimental feature of storing Rule's evaluation state
  app/vmalert/README.md
  app/vmalert/alerting.go
  app/vmalert/alerting_test.go
  app/vmalert/manager.go
  app/vmalert/recording.go
  app/vmalert/recording_test.go
  app/vmalert/rule.go
  app/vmalert/rule_test.go
  app/vmalert/web.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
  app/vmalert/web_test.go
  app/vmalert/web_types.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#2982 vmselect/promql: add alphanumeric sort by label (sort_by_label_numeric)
  app/vmselect/promql/exec.go
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/transform.go
  app/vmselect/promql/transform_test.go
  docs/CHANGELOG.md
  docs/MetricsQL.md
  go.mod
  go.sum
  vendor/github.com/VictoriaMetrics/metricsql/doc.go
  vendor/github.com/VictoriaMetrics/metricsql/optimizer.go
  vendor/github.com/VictoriaMetrics/metricsql/transform.go
  vendor/modules.txt
Labels: metricsql

#3112 vmalert: print example of `curl` command for rule's state
  app/vmalert/alerting.go
  app/vmalert/datasource/datasource.go
  app/vmalert/datasource/vm.go
  app/vmalert/datasource/vm_test.go
  app/vmalert/helpers_test.go
  app/vmalert/recording.go
  app/vmalert/rule.go
  app/vmalert/tpl/header.qtpl
  app/vmalert/tpl/header.qtpl.go
  app/vmalert/utils.go
  app/vmalert/utils_test.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#3119 vmalert: always re-evaluate Annotations
  app/vmalert/alerting.go
  docs/CHANGELOG.md
Labels: vmalert

#3120 Dashboards
  dashboards/victoriametrics-cluster.json
  dashboards/victoriametrics.json
  dashboards/vmagent.json
  dashboards/vmalert.json
Labels: dashboard

#3136 vmalert: prodvide more details on duplicates
  app/vmalert/config/config.go
Labels: vmalert

#3141 Adds version tag for docker containers
  deployment/docker/docker-compose-cluster.yml
  deployment/docker/docker-compose.yml
Labels: enhancement

#3152 docs: mention VictoriaMetrics Monitoring blog post
  README.md
  docs/Articles.md
  docs/Cluster-VictoriaMetrics.md
  docs/Quick-Start.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#3151 vmalert: add info about `search.latencyOffset` to Troubleshooting
  app/vmalert/README.md
  docs/vmalert.md
Labels: vmalert

#3149 vmalert: set default value for `datasource.queryStep` to `5m`
  app/vmalert/datasource/init.go
  docs/CHANGELOG.md
Labels: vmalert

#3157 dashboards: replace `Index size` panel with `Active series`
  dashboards/victoriametrics-cluster.json
  dashboards/victoriametrics.json
Labels: dashboard

#3142 Adds packer build for server with VM Single node in vultr.com marketplace
  deployment/marketplace/vultr/Makefile
  deployment/marketplace/vultr/README.md
  deployment/marketplace/vultr/RELEASE_GUIDE.md
  deployment/marketplace/vultr/helper-scripts/vultr-helper.sh
  deployment/marketplace/vultr/victoriametrics-single/etc/systemd/system/vmsingle.service
  deployment/marketplace/vultr/victoriametrics-single/etc/update-motd.d/99-one-click
  deployment/marketplace/vultr/victoriametrics-single/etc/update-motd.d/99-one-click.tpl
  deployment/marketplace/vultr/victoriametrics-single/etc/victoriametrics/single/scrape.yml
  deployment/marketplace/vultr/victoriametrics-single/etc/victoriametrics/single/victoriametrics.conf
  deployment/marketplace/vultr/victoriametrics-single/setup-per-boot.sh
  deployment/marketplace/vultr/victoriametrics-single/setup-per-instance.sh
  deployment/marketplace/vultr/victoriametrics-single/victoriametrics-single.pkr.hcl
  deployment/marketplace/vultr/victoriametrics-single/victoriametrics-single.sh
Labels: enhancement

#3129 docs: clarify numeric label values for `label_value`
  docs/MetricsQL.md
Labels: docs

#3165 managed_victoriametrics/quickstart.md: fix image link
  docs/managed_victoriametrics/quickstart.md
Labels: enhancement, docs

#3176 docs: update img for key concepts
  docs/keyConcepts.excalidraw
  docs/keyConcepts_range_query.png
Labels: docs

#3181 vmalert: allow using extra labels in annotations
  app/vmalert/alerting.go
  app/vmalert/alerting_test.go
  app/vmalert/config/testdata/rules/rules2-good.rules
Labels: vmalert
