Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-02, with the labels that each got.

#2127 vmalert: support configuration file for notifiers
  app/vmalert/Makefile
  app/vmalert/README.md
  app/vmalert/alerting.go
  app/vmalert/group.go
  app/vmalert/group_test.go
  app/vmalert/helpers_test.go
  app/vmalert/main.go
  app/vmalert/main_test.go
  app/vmalert/manager.go
  app/vmalert/manager_test.go
  app/vmalert/metrics.go
  app/vmalert/notifier/alertmanager.go
  app/vmalert/notifier/alertmanager_test.go
  app/vmalert/notifier/config.go
  app/vmalert/notifier/config_test.go
  app/vmalert/notifier/config_watcher.go
  app/vmalert/notifier/config_watcher_test.go
  app/vmalert/notifier/init.go
  app/vmalert/notifier/notifier.go
  app/vmalert/notifier/testdata/consul.good.yaml
  app/vmalert/notifier/testdata/mixed.good.yaml
  app/vmalert/notifier/testdata/static.good.yaml
  app/vmalert/notifier/testdata/unknownFields.bad.yaml
  app/vmalert/recording.go
  app/vmalert/utils/metrics.go
  app/vmalert/web.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#2137 vmalert: remove trailing slash for static notifier addresses
  app/vmalert/notifier/init.go
Labels: vmalert

#2138 vmalert: add support of `-notifier.basicAuth.passwordFile` flag for notifiers
  app/vmalert/README.md
  app/vmalert/notifier/init.go
Labels: vmalert

#2168 vmalert: fix bug with relative links in UI
  app/vmalert/web.go
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#2190 Monitoring single
  dashboards/victoriametrics.json
  dashboards/vmagent.json
  dashboards/vmalert.json
  deployment/docker/alerts.yml
Labels: dashboard

#2191 Monitoring cluster
  dashboards/victoriametrics.json
  dashboards/vmagent.json
  dashboards/vmalert.json
  deployment/docker/alerts.yml
  deployment/docker/prometheus.yml
Labels: dashboard

#2192 vmagent: fix js error on CollapseAll/ExpandAll buttons click
  lib/promscrape/targetstatus.qtpl
  lib/promscrape/targetstatus.qtpl.go
Labels: vmagent

#2199 Update revisions of dashboards
  docs/guides/getting-started-with-vm-operator.md
  docs/guides/k8s-monitoring-via-vm-cluster.md
Labels: guide

#2213 docs: make profiling commands more copy-friendly
  README.md
  app/vmagent/README.md
  app/vmauth/README.md
  docs/Cluster-VictoriaMetrics.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
  docs/vmagent.md
  docs/vmauth.md
Labels: docs

#2208 dashboards: add row Caches to single node dasbhoard
  dashboards/victoriametrics.json
Labels: dashboard

#2196 vmui: change logic autocomplete
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.afc823de.js
  app/vmselect/vmui/static/js/main.afc823de.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.c945b173.js
  app/vmui/packages/vmui/src/components/Home/Configurator/Query/QueryEditor.tsx
  app/vmui/packages/vmui/src/theme/theme.ts
Labels: vmui
