Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2022-05, with the labels that each got.

#2528 vmalert: do not execute templates during validation
  app/vmalert/notifier/alert.go
Labels: vmalert

#2529 vmui: support node v.18
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/main.31eddb83.js
  app/vmselect/vmui/static/js/main.31eddb83.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.7e81baa6.js
  app/vmui/Dockerfile-build
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Auth/AuthDialog.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Graph/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Time/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/CustomPanel/Views/TableView.tsx
  app/vmui/packages/vmui/src/components/Header/Header.tsx
  app/vmui/packages/vmui/src/components/PredefinedPanels/PredefinedDashboard.tsx
  app/vmui/packages/vmui/src/components/common/Logo.tsx
  app/vmui/packages/vmui/src/theme/switch.ts
Labels: vmui

#2539 vmui: remove @types/react dependencies
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/Auth/AuthTabPanel.tsx
Labels: vmui

#2543 vmui: prevent reset relative time
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/time.ts
Labels: vmui

#2557 Vmalert fix bugs in alerting evaluation
  app/vmalert/alerting.go
  app/vmalert/group.go
Labels: vmalert

#2565 fixed typos in CHANGELOG.md
  docs/CHANGELOG.md
Labels: docs

#2577 vmalert: properly cleanup stale series tracker on rules update
  app/vmalert/group.go
  app/vmalert/group_test.go
Labels: vmalert

#2587 vmalert: fix readme formatting
  app/vmalert/README.md
  docs/vmalert.md
Labels: vmalert

#2541 vmui: setup predefined dashboards without build
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/dashboards/README.md
  app/vmselect/vmui/dashboards/index.js
  app/vmselect/vmui/dashboards/perJobUsage.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/js/362.1f16598a.chunk.js
  app/vmselect/vmui/static/js/main.a54e3212.js
  app/vmselect/vmui/static/js/main.a54e3212.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.f64c8675.js
  app/vmui/packages/vmui/public/dashboards/README.md
  app/vmui/packages/vmui/public/dashboards/index.js
  app/vmui/packages/vmui/public/dashboards/perJobUsage.json
  app/vmui/packages/vmui/public/index.html
  app/vmui/packages/vmui/src/components/PredefinedPanels/DashboardsLayout.tsx
  app/vmui/packages/vmui/src/components/PredefinedPanels/getDashboardSettings.ts
  app/vmui/packages/vmui/src/types/index.ts
Labels: vmui

#2553 vmui: support display type from prometheus url
  app/vmui/packages/vmui/src/components/CustomPanel/Configurator/DisplayTypeSwitch.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
Labels: vmui

#2582 feat: setup url params by route
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/state/common/StateContext.tsx
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#2572 docs: quickstart update
  docs/Makefile
  docs/Quick-Start.md
  docs/_includes/img.html
  docs/keyConcepts.excalidraw
  docs/keyConcepts.md
  docs/keyConcepts_counter.png
  docs/keyConcepts_data_collection.png
  docs/keyConcepts_data_samples.png
  docs/keyConcepts_gauge.png
  docs/keyConcepts_histogram.png
  docs/keyConcepts_instant_query.png
  docs/keyConcepts_pull_model.png
  docs/keyConcepts_push_model.png
  docs/keyConcepts_range_query.png
  docs/keyConcepts_summary.png
  docs/keyConcepts_two_dcs.png
  docs/keyConcepts_vmui.png
Labels: docs

#2610 vmalert: support `scalar` type in response
  app/vmalert/Makefile
  app/vmalert/config/testdata/rules/rules2-good.rules
  app/vmalert/datasource/vm_prom_api.go
  app/vmalert/datasource/vm_test.go
  docs/CHANGELOG.md
Labels: vmalert

#2617 docs: fix a typo of mentioning scrape support for vmselect
  docs/keyConcepts.md
Labels: docs

#2602 docs: follow-up after 4b3eb40658f3c31c2d4329f75e8b947b86ade4ec
  docs/vmctl.md
Labels: docs

#2619 docs: add migration guide for influxdb
  docs/guides/migrate-from-influx-data-sample-in-influx.png
  docs/guides/migrate-from-influx-data-sample-in-vm.png
  docs/guides/migrate-from-influx-vmui.png
  docs/guides/migrate-from-influx.md
Labels: docs

#2623 vmalert: add new metric `vmalert_iteration_interval_seconds`
  app/vmalert/group.go
Labels: vmalert
