Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-10, with the labels that each got.

#5073 lib/promscrape: make concurrency control optional
  app/vmagent/prometheusimport/request_handler.go
  app/vminsert/prometheusimport/request_handler.go
  dashboards/vm/vmagent.json
  dashboards/vmagent.json
  docs/CHANGELOG.md
  lib/promscrape/scrapework.go
  lib/protoparser/prometheus/stream/streamparser.go
  lib/protoparser/prometheus/stream/streamparser_test.go
Labels: vmagent

#5022 vmui: add storage for query history
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/constants/graph.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryHistory/QueryHistory.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryHistory/QueryHistoryItem.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryHistory/QueryHistoryList.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryHistory/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryHistory/utils.ts
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/state/query/reducer.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/CHANGELOG.md
Labels: vmui

#5051 vmui: enhancement of autocomplete feature
  app/vmui/.gitignore
  app/vmui/Makefile
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/api/query-range.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.ts
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.tsx
  app/vmui/packages/vmui/src/hooks/useGetMetricsQL.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/styles/components/list.scss
  app/vmui/packages/vmui/src/types/markdown.d.ts
  app/vmui/packages/vmui/src/utils/regexp.ts
  docs/CHANGELOG.md
Labels: vmui

#5145 vmui: transfer Top Queries time interval #5097
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/hooks/useFetchTopQueries.ts
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
Labels: vmui

#5165 deployment/logs-benchmark: add suite for Loki
  deployment/logs-benchmark/Makefile
  deployment/logs-benchmark/docker-compose-elk.yml
  deployment/logs-benchmark/docker-compose-loki.yml
  deployment/logs-benchmark/docker-compose.yml
  deployment/logs-benchmark/generator/main.go
  deployment/logs-benchmark/grafana/dashboards/elk-stats.json
  deployment/logs-benchmark/grafana/dashboards/elk.json
  deployment/logs-benchmark/grafana/dashboards/loki.json
  deployment/logs-benchmark/loki/loki-config.yaml
  deployment/logs-benchmark/loki/promtail-config.yaml
  deployment/logs-benchmark/readme.md
  deployment/logs-benchmark/results/elk-grafana-dashboard.png
  deployment/logs-benchmark/results/loki-grafana-dashboard.png
  deployment/logs-benchmark/rsyslog/Dockerfile
  deployment/logs-benchmark/rsyslog/rsyslog.conf
  deployment/logs-benchmark/vmsingle/promscrape.yml
Labels: enhancement, victorialogs

#5180 fixed error when creating a full backup using the `-origin` flag
  docs/CHANGELOG.md
  lib/backup/actions/backup.go
Labels: bug, vmbackup

#5213 fixed `streamAgg.dropInput` with empty stream agg config
  docs/CHANGELOG.md
  lib/streamaggr/streamaggr.go
Labels: bug, vmagent
