Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-04, with the labels that each got.

#4000 vmui: add a tip for JSON and Table tabs
  app/vmui/packages/vmui/src/components/Main/Hyperlink/Hyperlink.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTips/index.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/InstantQueryTip/InstantQueryTip.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/styles/components/link.scss
Labels: vmui

#4045 vmui: tips for working with the graph and legend
  app/vmui/packages/vmui/src/components/Chart/GraphTips/GraphTips.tsx
  app/vmui/packages/vmui/src/components/Chart/GraphTips/contants/tips.tsx
  app/vmui/packages/vmui/src/components/Chart/GraphTips/style.scss
  app/vmui/packages/vmui/src/components/Chart/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Chart/Legend/style.scss
  app/vmui/packages/vmui/src/hooks/useBoolean.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/style.scss
  docs/CHANGELOG.md
Labels: vmui

#4052 vmui: add apply button to the settings popup
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/LimitsConfigurator/LimitsConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/ServerConfigurator/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/ThemeControl/ThemeControl.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
Labels: vmui

#4057 vmui: correct the description of shortcut keys
  app/vmui/packages/vmui/src/components/Chart/GraphTips/contants/tips.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/constants/keyList.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/style.scss
Labels: vmui

#4086 vmui: heatmap fixes
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/utils/uplot/heatmap.ts
Labels: vmui

#4125 Fix/snap build
  deployment/docker/.#docker-compose-cluster.yml
  snap/local/Makefile
  snap/snapcraft.yaml
Labels: enhancement, packages, snap

#4146 vmalert: retry datasource requests with EOF or unexpected EOF errors
  app/vmalert/datasource/vm.go
  app/vmalert/datasource/vm_test.go
  docs/CHANGELOG.md
Labels: vmalert

#4059 vmauth ip filters (refactoring)
  app/vmauth/auth_config.go
  app/vmauth/auth_config_test.go
  app/vmauth/main.go
Labels: enhancement, enterprise, vmauth

#4162 vmui: fix bug where tenant list was not displayed
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/hooks/useFetchAccountIds.ts
  app/vmui/packages/vmui/src/utils/tenants.ts
  docs/CHANGELOG.md
Labels: vmui

#4186 doc improvements (#4172)
  docs/Makefile
  docs/guides/understand-your-setup-size.md
Labels: docs

#4194 vmui: fix CHANGELOG.md about WITH templates
  docs/CHANGELOG.md
Labels: vmui

#4123 vmui: add a comparison of data to the `Cardinality Explorer`
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/Calendar.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/CalendarBody/CalendarBody.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/CardinalityTotals.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/MetricsContent.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/Table.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableCells/TableCells.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableHead.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/types.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appConfigurator.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useCardinalityFetch.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/types.ts
  app/vmui/packages/vmui/src/styles/components/dynamic-number.scss
  app/vmui/packages/vmui/src/styles/style.scss
  docs/CHANGELOG.md
Labels: vmui

#4124 vmui: display heatmap in the `Explore Metrics`
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricGraph/ExploreMetricItemGraph.tsx
  app/vmui/packages/vmui/src/utils/time.ts
  docs/CHANGELOG.md
Labels: vmui

#4197 changelog for issue #4083
  docs/CHANGELOG.md
Labels: vmauth

#3889 vmui: add metric relabel debug
  app/vmselect/main.go
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/metric-relabel.ts
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/pages/Relabel/hooks/useRelabelDebug.ts
  app/vmui/packages/vmui/src/pages/Relabel/index.tsx
  app/vmui/packages/vmui/src/pages/Relabel/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
  lib/promrelabel/debug.go
  lib/promrelabel/debug.qtpl
  lib/promrelabel/debug.qtpl.go
  lib/promscrape/relabel_debug.go
Labels: vmui

#4214 app/vmalert: follow-up after 6c322b4a00fd5e85687c03bf27b1b6113f819248
  app/vmalert/README.md
  app/vmalert/config/config.go
  app/vmalert/config/config_test.go
  app/vmalert/config/testdata/rules/rules2-good.rules
  app/vmalert/group.go
  app/vmalert/notifier/alertmanager.go
  app/vmalert/notifier/alertmanager_test.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#4222 vmalert: fix API to return non-nil values
  app/vmalert/web.go
  app/vmalert/web_test.go
  docs/CHANGELOG.md
Labels: vmalert

#4224 docs: note automatic conversion to `ms` for influx protocol
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs
