Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-01, with the labels that each got.

#3598 vmui: improve `Explore metrics`
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.9a291a47.css
  app/vmselect/vmui/static/css/main.e9e7cdb7.css
  app/vmselect/vmui/static/js/main.d34bbb5e.js
  app/vmselect/vmui/static/js/main.d34bbb5e.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.e3ded72d.js
  app/vmui/packages/vmui/src/components/Chart/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Chart/LineChart/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/ExecutionControls/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeDurationSelector/TimeDurationSelector.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricGraph/ExploreMetricItemGraph.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricGraph/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItem/ExploreMetricItem.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItem/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItemHeader/ExploreMetricItemHeader.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItemHeader/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricLayouts/ExploreMetricLayouts.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricLayouts/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/ExploreMetricsHeader.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/style.scss
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/Select/style.scss
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/pages/ExploreMetrics/ExploreMetricItem/ExploreMetricItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/ExploreMetricItem/style.scss
  app/vmui/packages/vmui/src/pages/ExploreMetrics/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/style.scss
  app/vmui/packages/vmui/src/styles/components/list.scss
  app/vmui/packages/vmui/src/styles/core.scss
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
Labels: vmui

#3594 .github/workflows/nightly-build.yml: added dockerhub login
  .github/workflows/nightly-build.yml
Labels: enhancement, github_actions

#3619 deployment/docker: update Alertmanager tag from v0.24.0 to v0.25.0 in docker-compose files
  deployment/docker/docker-compose-cluster.yml
  deployment/docker/docker-compose.yml
Labels: enhancement

#3623 docs/Release-Guide.md: added missed link to rpm repository
  docs/Release-Guide.md
Labels: docs

#3646 vmui: make nav menu as links
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Main/Tabs/TabItem.tsx
  app/vmui/packages/vmui/src/components/Main/Tabs/TabItemWrapper.tsx
  app/vmui/packages/vmui/src/components/Main/Tabs/Tabs.tsx
  app/vmui/packages/vmui/src/components/Main/Tabs/style.scss
Labels: vmui

#3652 guides/guide-delete-or-replace-metrics.md: fixed wrong curl command
  docs/guides/guide-delete-or-replace-metrics.md
Labels: docs

#3644 vmui: make the step input field global across all the tabs and views
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.01144815.css
  app/vmselect/vmui/static/css/main.7672c15c.css
  app/vmselect/vmui/static/js/main.84759f8d.js
  app/vmselect/vmui/static/js/main.f9c0c050.js
  app/vmselect/vmui/static/js/main.f9c0c050.js.LICENSE.txt
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/ExploreMetricsHeader.tsx
  app/vmui/packages/vmui/src/components/Layout/Footer/Footer.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedPanel/PredefinedPanel.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedPanel/style.scss
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/TopQueries/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/styles/components/link.scss
  docs/CHANGELOG.md
Labels: vmui

#3656 vmui: give more visually different colors to graph lines
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/utils/color.ts
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  docs/CHANGELOG.md
Labels: vmui

#3680 vmui: add support for time zone selection for older versions of browsers
  app/vmui/packages/vmui/src/constants/timezones.ts
  app/vmui/packages/vmui/src/utils/time.ts
  docs/CHANGELOG.md
Labels: vmui

#3699 Fix/remove vmanomaly from release guide
  docs/Release-Guide.md
Labels: docs

#3697 vmui: add open graph and twitter card tags
  app/vmui/packages/vmui/public/index.html
  app/vmui/packages/vmui/public/preview.jpg
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
Labels: vmui

#3704 vmui: improvements to the UI styles
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/components/Chart/BarChart/BarChart.tsx
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/style.scss
  app/vmui/packages/vmui/src/components/Configurators/ThemeControl/ThemeControl.tsx
  app/vmui/packages/vmui/src/components/Configurators/ThemeControl/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/style.scss
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItemHeader/style.scss
  app/vmui/packages/vmui/src/components/Layout/Footer/Footer.tsx
  app/vmui/packages/vmui/src/components/Layout/Footer/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/NavItem.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Main/Alert/Alert.tsx
  app/vmui/packages/vmui/src/components/Main/Alert/style.scss
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/TImePicker/TimePicker.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/LineProgress/style.scss
  app/vmui/packages/vmui/src/components/Main/Modal/style.scss
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/Select/style.scss
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/style.scss
  app/vmui/packages/vmui/src/components/Main/Spinner/Spinner.tsx
  app/vmui/packages/vmui/src/components/Main/Spinner/style.scss
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/Main/ThemeProvider/ThemeProvider.ts
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/style.scss
  app/vmui/packages/vmui/src/components/Views/JsonView/style.scss
  app/vmui/packages/vmui/src/constants/palette.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/CardinalityConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/TracePage/JsonForm/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/styles/components/list.scss
  app/vmui/packages/vmui/src/styles/components/popper-header.scss
  app/vmui/packages/vmui/src/styles/components/table.scss
  app/vmui/packages/vmui/src/styles/core.scss
  app/vmui/packages/vmui/src/styles/style.scss
  app/vmui/packages/vmui/src/styles/variables.scss
  app/vmui/packages/vmui/src/utils/storage.ts
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
  app/vmui/packages/vmui/src/utils/uplot/plugin.js
  docs/CHANGELOG.md
Labels: vmui

#3705 vmui: include fonts in its bundle
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/preview.jpg
  app/vmselect/vmui/static/css/main.9ca6b743.css
  app/vmselect/vmui/static/css/main.e8e53cbf.css
  app/vmselect/vmui/static/js/main.1635e498.js
  app/vmselect/vmui/static/js/main.8969be5f.js
  app/vmselect/vmui/static/js/main.8969be5f.js.LICENSE.txt
  app/vmselect/vmui/static/media/Lato-Bold.32360ba4b57802daa4d6.ttf
  app/vmselect/vmui/static/media/Lato-Regular.d714fec1633b69a9c2e9.ttf
  app/vmui/packages/vmui/public/index.html
  app/vmui/packages/vmui/src/assets/fonts/Lato/Lato-Bold.ttf
  app/vmui/packages/vmui/src/assets/fonts/Lato/Lato-Regular.ttf
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/styles/fonts.scss
  app/vmui/packages/vmui/src/styles/style.scss
  app/vmui/packages/vmui/src/styles/variables.scss
  docs/CHANGELOG.md
Labels: vmui

#3713 Improving docs by adding additional security sections
  docs/Cluster-VictoriaMetrics.md
  docs/Quick-Start.md
Labels: docs

#3673 vmui: add select of Tenant ID
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.9c397960.css
  app/vmselect/vmui/static/css/main.9ca6b743.css
  app/vmselect/vmui/static/js/main.8969be5f.js
  app/vmselect/vmui/static/js/main.df0f4d01.js
  app/vmselect/vmui/static/js/main.df0f4d01.js.LICENSE.txt
  app/vmui/packages/vmui/src/api/accountId.ts
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/ServerConfigurator/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/hooks/useFetchAccountIds.ts
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/style.scss
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  docs/CHANGELOG.md
Labels: vmui

#3731 vmui: improvement the theme
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/components/Chart/BarChart/BarChart.tsx
  app/vmui/packages/vmui/src/components/Chart/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Configurators/ThemeControl/ThemeControl.tsx
  app/vmui/packages/vmui/src/components/Configurators/ThemeControl/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Main/Alert/Alert.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/TImePicker/TimePicker.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/Spinner/Spinner.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/ThemeProvider/ThemeProvider.ts
  app/vmui/packages/vmui/src/components/Main/Toggle/Toggle.tsx
  app/vmui/packages/vmui/src/components/Main/Toggle/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/constants/palette.ts
  app/vmui/packages/vmui/src/hooks/useSystemTheme.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/CardinalityConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/styles/components/link.scss
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  app/vmui/packages/vmui/src/utils/theme.ts
Labels: vmui

#3725 Adds i386 architecture
  Makefile
Labels: enhancement
