Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-05, with the labels that each got.

#4269 vmalert: follow-up after cae87da
  app/vmalert/README.md
  app/vmalert/config/config.go
  app/vmalert/config/config_test.go
  app/vmalert/config/fs.go
  app/vmalert/config/fsurl/url.go
  app/vmalert/config/url.go
  app/vmalert/main.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#4273 vmui: increase font-size and fix the text display
  app/vmui/packages/vmui/src/components/Chart/GraphTips/style.scss
  app/vmui/packages/vmui/src/components/Chart/Line/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/style.scss
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/style.scss
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Main/Alert/style.scss
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/components/Main/Select/style.scss
  app/vmui/packages/vmui/src/components/Main/Switch/style.scss
  app/vmui/packages/vmui/src/components/Main/Tabs/style.scss
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTips/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedDashboard/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/style.scss
  app/vmui/packages/vmui/src/pages/WithTemplate/WithTemplateTutorial/style.scss
  app/vmui/packages/vmui/src/styles/components/table.scss
  app/vmui/packages/vmui/src/styles/variables.scss
  docs/CHANGELOG.md
Labels: vmui

#4297 app/vmctl/vm_native.go: fixed a typo in error message
  app/vmctl/vm_native.go
Labels: enhancement

#4299 vmui: enhancements to top queries page
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryPanel/TopQueryPanel.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/hooks/useFetchTopQueries.ts
  app/vmui/packages/vmui/src/pages/TopQueries/index.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/style.scss
  app/vmui/packages/vmui/src/styles/components/table.scss
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
Labels: vmui

#4305 docs: update docs about VMUI pages
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#4145 vmui: refactor code using custom hooks
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/components/Chart/BarChart/BarChart.tsx
  app/vmui/packages/vmui/src/components/Chart/BarChart/types.ts
  app/vmui/packages/vmui/src/components/Chart/Heatmap/ChartTooltipHeatmap/ChartTooltipHeatmap.tsx
  app/vmui/packages/vmui/src/components/Chart/Heatmap/HeatmapChart/HeatmapChart.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Chart/SimpleBarChart/style.scss
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/Timezones.tsx
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/ExecutionControls/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricGraph/ExploreMetricItemGraph.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItem/ExploreMetricItem.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItemHeader/ExploreMetricItemHeader.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderControls/HeaderControls.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/SidebarNav/SidebarHeader.tsx
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/DatePicker.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/PreviewIcons.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/Modal.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/style.scss
  app/vmui/packages/vmui/src/components/Main/Tabs/Tabs.tsx
  app/vmui/packages/vmui/src/components/Main/ThemeProvider/ThemeProvider.ts
  app/vmui/packages/vmui/src/components/Main/Tooltip/Tooltip.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/components/Views/JsonView/JsonView.tsx
  app/vmui/packages/vmui/src/components/Views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/hooks/useClickOutside.ts
  app/vmui/packages/vmui/src/hooks/useCopyToClipboard.ts
  app/vmui/packages/vmui/src/hooks/useDeviceDetect.ts
  app/vmui/packages/vmui/src/hooks/useDropzone.ts
  app/vmui/packages/vmui/src/hooks/useElementSize.ts
  app/vmui/packages/vmui/src/hooks/useEventListener.ts
  app/vmui/packages/vmui/src/hooks/useIsomorphicLayoutEffect.ts
  app/vmui/packages/vmui/src/hooks/useResize.ts
  app/vmui/packages/vmui/src/hooks/useWindowSize.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedDashboard/PredefinedDashboard.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedDashboard/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/JsonForm/JsonForm.tsx
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
Labels: vmui

#4314 deployment/docker/Makefile: updated docker compose commands regarding migration from V1 to V2
  deployment/docker/Makefile
  docs/CHANGELOG.md
Labels: enhancement

#4344 vmalert: do not return nil `rules` for /api/v1/rules
  app/vmalert/manager.go
  app/vmalert/web_test.go
Labels: vmalert

#4357 docs: mention multi-tenancy in docs
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
  docs/guides/migrate-from-influx.md
  docs/keyConcepts.md
Labels: docs

#4351 vmalert: properly form assets address if httpPrefix set
  app/vmalert/tpl/header.qtpl
  app/vmalert/tpl/header.qtpl.go
  app/vmalert/utils/links.go
  docs/CHANGELOG.md
Labels: vmalert
