Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-03, with the labels that each got.

#3886 vmalert: cancel in-flight requests on group's update or close
  app/vmalert/group.go
  app/vmalert/group_test.go
  app/vmalert/helpers_test.go
  app/vmalert/manager.go
Labels: vmalert

#3890 vmui: show query error
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
Labels: vmui

#3919 vmui: fix display of selected value in the selector
  app/vmui/packages/vmui/src/components/Main/Select/MultipleSelectedValue/MultipleSelectedValue.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  docs/CHANGELOG.md
Labels: vmui

#3924 Documentation about `templates` field of vmalertmanager spec
  docs/operator/vmalertmanager-configuration.md
Labels: operator, docs

#3936 app/vmalert: log number of configration files found for each specified `-rule`
  app/vmalert/config/config.go
  app/vmalert/config/fs.go
  app/vmalert/config/fslocal/fslocal.go
  app/vmalert/main.go
  docs/CHANGELOG.md
Labels: vmalert

#3942 Dashboards upd
  dashboards/victoriametrics-cluster.json
  dashboards/vmagent.json
  dashboards/vmalert.json
Labels: dashboard

#3934 Stream aggregation doc improvements based on users feedback
  docs/stream-aggregation-check-avg.png
  docs/stream-aggregation-check-increase.png
  docs/stream-aggregation-check-max.png
  docs/stream-aggregation-check-min.png
  docs/stream-aggregation-check-stdvar.png
  docs/stream-aggregation-check-sum-samples.png
  docs/stream-aggregation-check-total.png
  docs/stream-aggregation.md
Labels: vmagent, docs

#3931 vmui: remove send step param for instant queries
  app/vmui/packages/vmui/src/api/query-range.ts
  docs/CHANGELOG.md
Labels: vmui

#3895 vmui: predefined dashboards docs
  app/vmui/README.md
  app/vmui/packages/vmui/README.md
  app/vmui/packages/vmui/public/dashboards/README.md
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useFetchDashboards.ts
  app/vmui/packages/vmui/src/pages/PredefinedPanels/index.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/style.scss
Labels: vmui

#3968 vmui: improve usability of date/time picker
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeDurationSelector/style.scss
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/Calendar.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/CalendarHeader/CalendarHeader.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/MonthsList/MonthsList.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/YearsList/YearsList.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/Calendar/style.scss
  app/vmui/packages/vmui/src/components/Main/DatePicker/DatePicker.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/DateTimeInput/DateTimeInput.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/DateTimeInput/style.scss
  docs/CHANGELOG.md
Labels: vmui

#3971 vmui: support for drag'n'drop in the "Trace analyzer" page
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/style.scss
  app/vmui/packages/vmui/src/hooks/useDropzone.ts
  app/vmui/packages/vmui/src/pages/TracePage/TraceUploadButtons/TraceUploadButtons.tsx
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/style.scss
  docs/CHANGELOG.md
Labels: vmui

#3994 vmui: display errors for each query
  app/vmui/packages/vmui/src/components/Chart/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  docs/CHANGELOG.md
Labels: vmui

#4005 vmalert: mention VMUI example for alert's source
  app/vmalert/README.md
  app/vmalert/main.go
  docs/vmalert.md
Labels: vmalert

#4006 vmalert: add anchor char to Group's link
  app/vmalert/web.qtpl
  app/vmalert/web.qtpl.go
Labels: vmalert

#3970 added hot reload support for stream aggregation configs (#3969)
  app/vmagent/main.go
  app/vmagent/remotewrite/remotewrite.go
  app/vmagent/remotewrite/streamagg.go
  app/vminsert/common/streamaggr.go
  docs/CHANGELOG.md
  docs/stream-aggregation.md
  docs/vmagent.md
  lib/streamaggr/streamaggr.go
  lib/streamaggr/streamaggr_test.go
Labels: enhancement, vmagent

#4040 vmalert: use `missingkey=zero` for templating
  app/vmalert/notifier/alert.go
  docs/CHANGELOG.md
Labels: vmalert
