Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-06, with the labels that each got.

#4438 Dashboard upd
  dashboards/victoriametrics-cluster.json
  dashboards/victoriametrics.json
  docs/CHANGELOG.md
Labels: dashboard

#4439 fixed service name detection for consulagent service discovery
  docs/CHANGELOG.md
  lib/promscrape/discovery/consulagent/watch.go
Labels: bug, vmagent

#4443 docs/vmalert: mention `same labelset` error in docs
  app/vmalert/README.md
  app/vmalert/rule.go
  docs/vmalert.md
Labels: vmalert

#4448 docs: mention errors processing for /api/v1/import API
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: docs

#4455 vmui: memory leak fix
  app/vmui/packages/vmui/src/components/Chart/Heatmap/HeatmapChart/HeatmapChart.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Main/Tooltip/Tooltip.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/styles/components/table.scss
  app/vmui/packages/vmui/src/utils/uplot/events.ts
  app/vmui/packages/vmui/src/utils/uplot/heatmap.ts
  app/vmui/packages/vmui/src/utils/uplot/scales.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  app/vmui/packages/vmui/src/utils/uplot/types.ts
  docs/CHANGELOG.md
Labels: vmui

#4461 vmalert: retry all errors except 4XX status codes
  app/vmalert/remotewrite/remotewrite.go
  app/vmalert/remotewrite/remotewrite_test.go
  docs/CHANGELOG.md
Labels: vmalert

#4470 deployment/logs-benchmark: add benchmark setup
  deployment/logs-benchmark/docker-compose.yml
  deployment/logs-benchmark/du/config.yml
  deployment/logs-benchmark/elk/elastic/elasticsearch.yml
  deployment/logs-benchmark/elk/filebeat/filebeat-elastic.yml
  deployment/logs-benchmark/elk/filebeat/filebeat-vlogs.yml
  deployment/logs-benchmark/elk/kibana/kibana.yml
  deployment/logs-benchmark/generator/main.go
  deployment/logs-benchmark/grafana-dashboard.png
  deployment/logs-benchmark/grafana/dashboards/comparison.json
  deployment/logs-benchmark/grafana/dashboards/stats.json
  deployment/logs-benchmark/grafana/provisioning/dashboards/dashboard.yml
  deployment/logs-benchmark/grafana/provisioning/datasources/datasource.yml
  deployment/logs-benchmark/readme.md
  deployment/logs-benchmark/source_logs/.gitignore
  deployment/logs-benchmark/source_logs/download.sh
  deployment/logs-benchmark/vmsingle/promscrape.yml
Labels: logs

#4480 docs/vmalert: specify version requirements for new features
  app/vmalert/README.md
  docs/vmalert.md
Labels: vmalert

#4487 jsonline support for data ingestion in vlinsert
  app/vlinsert/common/flags.go
  app/vlinsert/elasticsearch/elasticsearch.go
  app/vlinsert/jsonline/jsonline.go
  app/vlinsert/jsonline/jsonline_test.go
  app/vlinsert/main.go
  docs/VictoriaLogs/data-ingestion/README.md
Labels: logs

#4484 vmui: logs explorer
  app/victoria-logs/main.go
  app/vlselect/main.go
  app/vlselect/vmui/apple-touch-icon.png
  app/vlselect/vmui/asset-manifest.json
  app/vlselect/vmui/favicon-32x32.png
  app/vlselect/vmui/favicon.ico
  app/vlselect/vmui/index.html
  app/vlselect/vmui/manifest.json
  app/vlselect/vmui/preview.jpg
  app/vlselect/vmui/robots.txt
  app/vlselect/vmui/static/js/27.c1ccfd29.chunk.js
  app/vlselect/vmui/static/media/Lato-Bold.32360ba4b57802daa4d6.ttf
  app/vlselect/vmui/static/media/Lato-Regular.d714fec1633b69a9c2e9.ttf
  app/vmui/Makefile
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/logs.ts
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/style.scss
  app/vmui/packages/vmui/src/components/Layout/Layout.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/PaginationControl/PaginationControl.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/PaginationControl/style.scss
  app/vmui/packages/vmui/src/components/Main/Pagination/SelectLimit/SelectLimit.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/SelectLimit/style.scss
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  app/vmui/packages/vmui/src/components/Table/style.scss
  app/vmui/packages/vmui/src/components/Views/JsonView/JsonView.tsx
  app/vmui/packages/vmui/src/components/Views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/hooks/useSearchParamsFromObject.ts
  app/vmui/packages/vmui/src/hooks/useSortedCategories.ts
  app/vmui/packages/vmui/src/hooks/useStateSearchParams.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/TableLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/style.scss
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useFetchDashboards.ts
  app/vmui/packages/vmui/src/pages/TopQueries/index.tsx
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/styles/components/table.scss
  app/vmui/packages/vmui/src/utils/array.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  app/vmui/packages/vmui/src/utils/storage.ts
Labels: vmui, logs

#4490 added more info and examples about data ingestion and collectors to VictoriaLogs docs
  docs/VictoriaLogs/QuickStart.md
  docs/VictoriaLogs/Roadmap.md
  docs/VictoriaLogs/data-ingestion/Filebeat.md
  docs/VictoriaLogs/data-ingestion/Fluentbit.md
  docs/VictoriaLogs/data-ingestion/Logstash.md
  docs/VictoriaLogs/data-ingestion/README.md
  docs/VictoriaLogs/data-ingestion/Vector.md
Labels: logs

#4494 added docs for vmui in victorialogs
  docs/VictoriaLogs/QuickStart.md
  docs/VictoriaLogs/README.md
  docs/VictoriaLogs/querying/README.md
  docs/VictoriaLogs/querying/vmui.png
Labels: logs

#4495 add information about how to access web UI
  deployment/docker/victorialogs/filebeat-docker/README.md
  deployment/docker/victorialogs/filebeat-syslog/README.md
  deployment/docker/victorialogs/fluentbit-docker/README.md
  deployment/docker/victorialogs/logstash/README.md
Labels: logs

#4530 show backup/restore progress percentage in vmbackup/vmrestore
  docs/CHANGELOG.md
  lib/backup/actions/backup.go
  lib/backup/actions/restore.go
Labels: vmbackup, vmrestore

#4408 vmui: fix app routing issues
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/Configurators/CardinalityDatePicker/CardinalityDatePicker.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/contexts/AppContextProvider.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/CardinalityConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/Relabel/index.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/hooks/useFetchTopQueries.ts
  app/vmui/packages/vmui/src/pages/TopQueries/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/TopQueries/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/state/topQueries/TopQueriesStateContext.tsx
  app/vmui/packages/vmui/src/state/topQueries/reducer.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  app/vmui/packages/vmui/src/utils/object.ts
  docs/CHANGELOG.md
Labels: vmui
