Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-02, with the labels that each got.

#3748 vmui: set light theme for app mode
  app/vmui/packages/vmui/README.md
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/hooks/useFetchAccountIds.ts
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/components/Main/ThemeProvider/ThemeProvider.ts
  app/vmui/packages/vmui/src/utils/app-mode.ts
Labels: vmui

#3769 fixed wrong vmstorage port number
  deployment/docker/docker-compose-cluster.yml
Labels: enhancement

#3793 vmui: hide the local dashboards
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useFetchDashboards.ts
Labels: vmui

#3794 vmui: improve tenant selector
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/hooks/useFetchAccountIds.ts
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/style.scss
  docs/CHANGELOG.md
Labels: vmui

#3795 vmui: lazy loading predefined panels
  app/vmselect/vmui/asset-manifest.json
  app/vmselect/vmui/index.html
  app/vmselect/vmui/static/css/main.08ded1c6.css
  app/vmselect/vmui/static/css/main.f22be84b.css
  app/vmselect/vmui/static/js/main.2aca3017.js
  app/vmselect/vmui/static/js/main.2aca3017.js.LICENSE.txt
  app/vmselect/vmui/static/js/main.eca4a392.js
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedPanel/PredefinedPanel.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedPanel/style.scss
Labels: vmui

#3800 dashboards: use `median` instead of `avg`
  dashboards/victoriametrics-cluster.json
Labels: dashboard

#3812 docs: improve troubleshooting docs for vmalert
  app/vmalert/README.md
  docs/keyConcepts.md
  docs/vmalert.md
Labels: vmalert, docs

#3850 Fix TestPushWriteRequest for remotewriteprotocol for pure-test (with native zstd)
  app/vmagent/remotewrite/pendingseries_test.go
Labels: bug

#3844 app/vmctl: add retry backoff policy
  app/vmctl/backoff/backoff.go
  app/vmctl/backoff/backoff_test.go
  app/vmctl/main.go
  app/vmctl/prometheus_test.go
  app/vmctl/remote_read_test.go
  app/vmctl/vm/vm.go
Labels: vmctl

#3840 Kuma Service Discovery: add kuma_sd_config for Kuma Control Plane targets discovery (#3389)
  README.md
  app/vmagent/README.md
  docs/CHANGELOG.md
  docs/sd_configs.md
  docs/vmagent.md
  lib/promscrape/config.go
  lib/promscrape/discovery/kuma/api.go
  lib/promscrape/discovery/kuma/api_test.go
  lib/promscrape/discovery/kuma/kuma.go
  lib/promscrape/discovery/kuma/kuma_test.go
  lib/promscrape/discovery/kuma/xds.go
  lib/promscrape/discoveryutils/client.go
  lib/promscrape/scraper.go
Labels: enhancement, vmagent

#3860 vmui: change query params update
  app/vmui/packages/vmui/src/components/Layout/Header/Header.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/ExploreMetrics/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/PredefinedPanels/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/TopQueries/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/utils/query-string.ts
Labels: vmui

#3857 fix interpolate function for filling only intermediate gaps (#3816)
  app/vmselect/promql/exec_test.go
  app/vmselect/promql/transform.go
  docs/CHANGELOG.md
Labels: bug, metricsql

#3825 Fix some typos and adds improvements for packer builds
  deployment/marketplace/digitialocean/one-click-droplet/Makefile
  deployment/marketplace/digitialocean/one-click-droplet/RELEASE_GUIDE.md
  deployment/marketplace/digitialocean/one-click-droplet/files/etc/update-motd.d/99-one-click
  deployment/marketplace/digitialocean/one-click-droplet/files/etc/update-motd.d/99-one-click.tpl
  deployment/marketplace/digitialocean/one-click-droplet/scripts/04-install-victoriametrics.sh
  deployment/marketplace/digitialocean/one-click-droplet/scripts/90-cleanup.sh
  deployment/marketplace/digitialocean/one-click-droplet/scripts/99-img-check.sh
  deployment/marketplace/vultr/Makefile
  deployment/marketplace/vultr/RELEASE_GUIDE.md
  deployment/marketplace/vultr/helper-scripts/vultr-helper.sh
  deployment/marketplace/vultr/victoriametrics-single/victoriametrics-single.sh
Labels: enhancement

#3884 dashboards: account for indexdb size in Bytes-per-Point panel
  dashboards/victoriametrics-cluster.json
Labels: dashboard
