Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-09, with the labels that each got.

#4713 vmui: support for Prometheus data on the cardinality page
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/CardinalityConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/CardinalityTotals.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/MetricsContent.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appConfigurator.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useCardinalityFetch.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/types.ts
  docs/CHANGELOG.md
Labels: vmui

#4957 vmui: fix render heatmap
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  docs/CHANGELOG.md
Labels: vmui

#4956 Updates in release guide
  docs/Release-Guide.md
  docs/Release-Guide_helm-release.png
Labels: docs

#4828 lib/logstorage/datadb: remove parts merge cond
  lib/logstorage/datadb.go
Labels: victorialogs
