Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-08, with the labels that each got.

#4742 vmui: display partial response warning
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/style.scss
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/warningText.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  docs/CHANGELOG.md
Labels: vmui

#4760 vmui: option to see/copy the full error message
  app/vmui/packages/vmui/src/components/Main/DatePicker/DateTimeInput/DateTimeInput.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextFieldError.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/Main/Tooltip/Tooltip.tsx
  app/vmui/packages/vmui/src/styles/core.scss
  docs/CHANGELOG.md
Labels: vmui

#4761 vmui: hide "Logs Explorer" for the base app
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/constants/navigation.ts
Labels: vmui

#4782 vmui: change the response for active queries
  app/vmselect/promql/active_queries.go
  docs/CHANGELOG.md
Labels: vmui

#4824 fixed applying `remoteWrite.label` for pushed metrics (#4247)
  app/vmagent/remotewrite/relabel.go
  app/vmagent/remotewrite/relabel_test.go
  app/vmagent/remotewrite/remotewrite.go
  docs/CHANGELOG.md
  docs/stream-aggregation.md
Labels: bug, vmagent, docs

#4849 fixed premature release of the context (after #4247 / #4824)
  app/vmagent/remotewrite/remotewrite.go
Labels: bug

#4694 vmui: Add button to prettify query
  app/vmselect/main.go
  app/vmselect/prometheus/prometheus.go
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/hooks/usePrettifyQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  docs/CHANGELOG.md
Labels: vmui

#4830 vmui: chart refactoring
  app/vmui/packages/vmui/src/components/Chart/BarChart/consts.ts
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/index.tsx
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/Heatmap/ChartTooltipHeatmap/ChartTooltipHeatmap.tsx
  app/vmui/packages/vmui/src/components/Chart/Heatmap/HeatmapChart/HeatmapChart.tsx
  app/vmui/packages/vmui/src/components/Chart/Heatmap/LegendHeatmap/LegendHeatmap.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/helpers.ts
  app/vmui/packages/vmui/src/components/Chart/Line/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/hooks/uplot/useDragChart.ts
  app/vmui/packages/vmui/src/hooks/uplot/useHeatmapTooltip.ts
  app/vmui/packages/vmui/src/hooks/uplot/useLineTooltip.ts
  app/vmui/packages/vmui/src/hooks/uplot/usePlotScale.ts
  app/vmui/packages/vmui/src/hooks/uplot/useReadyChart.ts
  app/vmui/packages/vmui/src/hooks/uplot/useZoomChart.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/TopQueries/index.tsx
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/types/uplot.ts
  app/vmui/packages/vmui/src/utils/color.ts
  app/vmui/packages/vmui/src/utils/uplot/axes.ts
  app/vmui/packages/vmui/src/utils/uplot/events.ts
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
  app/vmui/packages/vmui/src/utils/uplot/hooks.ts
  app/vmui/packages/vmui/src/utils/uplot/index.ts
  app/vmui/packages/vmui/src/utils/uplot/instnance.ts
  app/vmui/packages/vmui/src/utils/uplot/scales.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
Labels: vmui

#4863 vmui: change warning display for text fields
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/style.scss
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextFieldError.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextFieldMessage.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  docs/CHANGELOG.md
Labels: vmui

#4857 vmagent: retry failed write request on the closed connection
  app/vmagent/remotewrite/client.go
  docs/CHANGELOG.md
Labels: vmagent

#4872 vmui: ui improvements
  app/vmui/packages/vmui/public/index.html
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/ChartTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/GraphTips/GraphTips.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/style.scss
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/ExecutionControls/ExecutionControls.tsx
  app/vmui/packages/vmui/src/components/Configurators/TimeRangeSettings/TimeSelector/TimeSelector.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricItemHeader/ExploreMetricItemHeader.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/ExploreMetricsHeader.tsx
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/CodeExample/CodeExample.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/DateTimeInput/DateTimeInput.tsx
  app/vmui/packages/vmui/src/components/Main/MenuBurger/MenuBurger.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/Modal.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/ShortcutKeys/ShortcutKeys.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextFieldMessage.tsx
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/TracingsView.tsx
  app/vmui/packages/vmui/src/components/Views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/constants/graph.ts
  app/vmui/packages/vmui/src/constants/palette.ts
  app/vmui/packages/vmui/src/layouts/Header/HeaderControls/HeaderControls.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityConfigurator/CardinalityConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedDashboard/PredefinedDashboard.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/styles/fonts.scss
  app/vmui/packages/vmui/src/styles/style.scss
  app/vmui/packages/vmui/src/utils/uplot/helpers.ts
Labels: vmui

#4902 lib/logstorage: Optimize ptwHot to nil
  lib/logstorage/storage.go
Labels: victorialogs

#4914 vmauth: added ability to set and remove response headers (#4825)
  app/vmauth/README.md
  app/vmauth/auth_config.go
  app/vmauth/auth_config_test.go
  app/vmauth/example_config.yml
  app/vmauth/main.go
  app/vmauth/target_url.go
  app/vmauth/target_url_test.go
  docs/CHANGELOG.md
  docs/vmauth.md
Labels: vmauth
