Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2023-07, with the labels that each got.

#4548 adds '-e' flag for echo in Makefile:copy-docs section
  Makefile
Labels: docs

#4468 Docs/backfiling: adds curl commands to clear the query cache
  README.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
  docs/url-examples.md
Labels: docs

#4574 vmalert: allow disabling of `step` param attached to instant queries
  app/vmalert/README.md
  app/vmalert/datasource/vm_prom_api.go
  docs/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#4614 follow up for #4612 and #4584: fixed image url and size
  docs/keyConcepts.md
Labels: docs

#4621 added info about using stream aggregation as statsd alternative (#4600)
  docs/stream-aggregation.md
Labels: docs

#4622 fixed typo
  docs/stream-aggregation.md
Labels: docs

#4608 vmui: add link to MetricsQL
  app/vmui/packages/vmui/src/components/Layout/Footer/Footer.tsx
Labels: vmui

#4613 Update README.md
  docs/VictoriaLogs/README.md
Labels: docs, logs, victorialogs

#4615 vmui: add tip to Explore Metrics page
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/ExploreMetricsHeader.tsx
  app/vmui/packages/vmui/src/components/ExploreMetrics/ExploreMetricsHeader/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/utils/storage.ts
Labels: vmui

#4653 vmui: add Active Queries page
  app/vmselect/main.go
  app/vmselect/promql/active_queries.go
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/active-queries.ts
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/pages/ActiveQueries/hooks/useFetchActiveQueries.ts
  app/vmui/packages/vmui/src/pages/ActiveQueries/index.tsx
  app/vmui/packages/vmui/src/pages/ActiveQueries/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/types/index.ts
  docs/CHANGELOG.md
Labels: vmui

#4602 vmui: optimize the logs bundle
  app/vmui/packages/vmui/config-overrides.js
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/App.test.tsx
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/AppLogs.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Layout/Header/HeaderControls/HeaderControls.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/components/Table/helpers.ts
  app/vmui/packages/vmui/src/layouts/Footer/Footer.tsx
  app/vmui/packages/vmui/src/layouts/Footer/style.scss
  app/vmui/packages/vmui/src/layouts/Header/Header.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderControls/HeaderControls.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderControls/style.scss
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavItem.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/style.scss
  app/vmui/packages/vmui/src/layouts/Header/SidebarNav/SidebarHeader.tsx
  app/vmui/packages/vmui/src/layouts/Header/SidebarNav/style.scss
  app/vmui/packages/vmui/src/layouts/Header/style.scss
  app/vmui/packages/vmui/src/layouts/LogsLayout/ControlsLogsLayout.tsx
  app/vmui/packages/vmui/src/layouts/LogsLayout/LogsLayout.tsx
  app/vmui/packages/vmui/src/layouts/LogsLayout/style.scss
  app/vmui/packages/vmui/src/layouts/MainLayout/ControlsMainLayout.tsx
  app/vmui/packages/vmui/src/layouts/MainLayout/MainLayout.tsx
  app/vmui/packages/vmui/src/layouts/MainLayout/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/Table.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/TopQueries/TopQueryTable/TopQueryTable.tsx
  app/vmui/packages/vmui/src/setupTests.ts
Labels: vmui

#4482 app/vlinsert: add support of loki push protocol
  .gitignore
  app/vlinsert/loki/loki.go
  app/vlinsert/loki/loki_json.go
  app/vlinsert/loki/loki_json_test.go
  app/vlinsert/loki/loki_json_timing_test.go
  app/vlinsert/loki/loki_protobuf.go
  app/vlinsert/loki/loki_protobuf_test.go
  app/vlinsert/loki/loki_protobuf_timing_test.go
  app/vlinsert/loki/push_request.pb.go
  app/vlinsert/loki/push_request.proto
  app/vlinsert/loki/timestamp.go
  app/vlinsert/loki/types.go
  app/vlinsert/main.go
  deployment/docker/victorialogs/promtail/config.yml
  deployment/docker/victorialogs/promtail/docker-compose.yml
  docs/VictoriaLogs/data-ingestion/Promtail.md
  docs/VictoriaLogs/data-ingestion/README.md
  lib/logstorage/tenant_id.go
  lib/logstorage/tenant_id_test.go
  lib/slicesutil/resize.go
Labels: logs

#4670 allow configuring staleness interval in stream aggregation (#4667)
  docs/CHANGELOG.md
  docs/stream-aggregation.md
  lib/streamaggr/histogram_bucket.go
  lib/streamaggr/increase.go
  lib/streamaggr/streamaggr.go
  lib/streamaggr/total.go
Labels: enhancement, vmagent

#4294 vmui: enhancements multiline field editing
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/api/expand-with-exprs.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/MonacoEditor/MonacoEditor.tsx
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useKeybindings.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useLabelsSyntax.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useMonacoTheme.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/style.scss
  app/vmui/packages/vmui/src/pages/Relabel/index.tsx
  app/vmui/packages/vmui/src/pages/Relabel/style.scss
  app/vmui/packages/vmui/src/pages/TracePage/JsonForm/JsonForm.tsx
  app/vmui/packages/vmui/src/pages/WithTemplate/hooks/useExpandWithExprs.ts
  app/vmui/packages/vmui/src/pages/WithTemplate/index.tsx
  app/vmui/packages/vmui/src/pages/WithTemplate/style.scss
Labels: vmui

#4676 vmui: improvements for the Active Queries
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/pages/ActiveQueries/index.tsx
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/time.ts
Labels: vmui

#4698 vmui: remove `monaco-editor`
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/MonacoEditor/MonacoEditor.tsx
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useKeybindings.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useLabelsSyntax.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/hooks/useMonacoTheme.ts
  app/vmui/packages/vmui/src/components/MonacoEditor/style.scss
  app/vmui/packages/vmui/src/pages/Relabel/index.tsx
  app/vmui/packages/vmui/src/pages/Relabel/style.scss
Labels: vmui

#4727 fixed label values decoding for pushgateway compatibility
  docs/CHANGELOG.md
  lib/protoparser/common/extra_labels.go
  lib/protoparser/common/extra_labels_test.go
Labels: bug
