Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-10, with the labels that each got.

#7209 vmui: update dependencies npm
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/src/utils/uplot/series.ts
Labels: vmui

#7204 vmui: add the ability to cancel running queries
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/LineLoader/LineLoader.tsx
  app/vmui/packages/vmui/src/components/Main/LineLoader/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#7238 vmui: add retention and downsampling filters debug pages
  app/vmui/packages/vmui/public/config.json
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/downsampling-filters-debug.ts
  app/vmui/packages/vmui/src/api/retention-filters-debug.ts
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/hooks/useFetchAppConfig.ts
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavItem.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/layouts/MainLayout/MainLayout.tsx
  app/vmui/packages/vmui/src/pages/DownsamplingFilters/hooks/useDebugDownsamplingFilters.ts
  app/vmui/packages/vmui/src/pages/DownsamplingFilters/index.tsx
  app/vmui/packages/vmui/src/pages/DownsamplingFilters/style.scss
  app/vmui/packages/vmui/src/pages/RetentionFilters/hooks/useDebugRetentionFilters.ts
  app/vmui/packages/vmui/src/pages/RetentionFilters/index.tsx
  app/vmui/packages/vmui/src/pages/RetentionFilters/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/router/navigation.ts
  app/vmui/packages/vmui/src/router/useNavigationMenu.ts
  app/vmui/packages/vmui/src/router/utils.ts
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/types/index.ts
Labels: vmui

#7228 vmui: fix alert display with long messages
  app/vmui/packages/vmui/src/components/Main/Alert/style.scss
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#7167 vmui/logs: fix display of hits chart
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/utils/logs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#7206 vmui/logs: add ability to hide hits chart
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsChart.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsOptions/BarHitsOptions.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsOptions/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/types.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#7272 app/vmalert: update `-remoteWrite.concurrency` and `-remoteWrite.flushInterval`
  app/vmalert/remotewrite/client.go
  app/vmalert/remotewrite/init.go
  docs/changelog/CHANGELOG.md
  docs/vmalert.md
Labels: vmalert

#7294 vmui/logs: fix query and limit update issue
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#7355 grafana dashboard: fix query for full ETA vm_free_disk_space_bytes - vm_free_disk_space_limit_bytes
  dashboards/victoriametrics-cluster.json
  dashboards/victoriametrics.json
  dashboards/vm/victoriametrics-cluster.json
  dashboards/vm/victoriametrics.json
  dashboards/vm/vmagent.json
  docs/changelog/CHANGELOG.md
Labels: dashboard

#7172 vmagent: Added support for PuppetDB service discovery
  docs/README.md
  docs/sd_configs.md
  docs/vmagent.md
  lib/promscrape/config.go
  lib/promscrape/discovery/puppetdb/api.go
  lib/promscrape/discovery/puppetdb/api_test.go
  lib/promscrape/discovery/puppetdb/mock_puppetdb_server_test.go
  lib/promscrape/discovery/puppetdb/puppetdb.go
  lib/promscrape/discovery/puppetdb/puppetdb_test.go
  lib/promscrape/discovery/puppetdb/resource.go
  lib/promscrape/scraper.go
Labels: vmagent

#7329 lib/storage/partition: prevent panic in case resulting in-memory part is empty after merge
  docs/changelog/CHANGELOG.md
  lib/storage/partition.go
  lib/storage/partition_test.go
Labels: vmstorage

#7380 vmui: fix the display of the link to vmalert
  app/vmui/packages/vmui/src/hooks/useFetchFlags.ts
  app/vmui/packages/vmui/src/router/navigation.ts
  docs/changelog/CHANGELOG.md
Labels: vmui

#7393 deployment/alerts: add RemoteWriteDroppingData to vmalert rules
  deployment/docker/rules/alerts-vmalert.yml
  docs/changelog/CHANGELOG.md
Labels: vmalert

#7325 lib/promscrape: add relabel configs to `global` section
  docs/changelog/CHANGELOG.md
  docs/vmagent.md
  lib/promscrape/config.go
  lib/promscrape/config_test.go
Labels: vmagent
