Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-08, with the labels that each got.

#6661 vmui/logs: add fields for tenant configuration
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsFields.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/style.scss
  app/vmui/packages/vmui/src/layouts/LogsLayout/ControlsLogsLayout.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6688 vmui/logs: improve UI functionality
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/style.scss
  app/vmui/packages/vmui/src/components/Configurators/LogsSettings/MarkdownParsing/SwitchMarkdownParsing.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/TracingsView.tsx
  app/vmui/packages/vmui/src/contexts/AppContextProvider.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/TableLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  app/vmui/packages/vmui/src/state/logsPanel/LogsStateContext.tsx
  app/vmui/packages/vmui/src/state/logsPanel/reducer.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6647 vmui/logs: add display top streams in the hits graph
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsChart.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsLegend/BarHitsLegend.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsLegend/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsOptions/BarHitsOptions.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsOptions/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/BarHitsTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/TooltipBarHitsChart.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/hooks/useBarHitsOptions.ts
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/types.ts
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Main/Popper/style.scss
  app/vmui/packages/vmui/src/constants/palette.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/utils/uplot/bars.ts
  app/vmui/packages/vmui/src/utils/uplot/paths.ts
  app/vmui/packages/vmui/src/utils/uplot/stack.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6666 app/vmagent: read __sample_limit__ from labels (#6665)
  docs/CHANGELOG.md
  lib/promscrape/config.go
  lib/promscrape/config_test.go
Labels: need more info

#6804 vmui: add column search in table settings
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/style.scss
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#6863 docs/guides/guide-delete-or-replace-metrics/README.md: adds a link to the API examples
  docs/guides/guide-delete-or-replace-metrics/README.md
Labels: docs

#6880 docs: fix example links in getting started with OpenTelemetry
  docs/guides/getting-started-with-opentelemetry/README.md
Labels: docs
