Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-07, with the labels that each got.

#6582 vmui: add compact JSON display
  app/vmui/packages/vmui/src/components/Views/JsonView/JsonView.tsx
  docs/CHANGELOG.md
Labels: vmui

#6577 vmui/logs: add spinner to bar chart
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6620 vmalert: [bug] fixed System hyperlink 404 redirect
  app/vmalert/web.go
  docs/CHANGELOG.md
Labels: vmalert

#6624 vmui/logs: switched requests to sequential execution
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBarChart/ExploreLogsBarChart.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
Labels: vmui

#6682 docs: [vmagent] Add docs for remote write protocol control in Kafka integration
  docs/vmagent.md
Labels: enterprise, vmagent, docs

#6629 refactor(vmstorage): Refactor the code to reduce the time complexity of `MustAddRows` and improve readability
  docs/CHANGELOG.md
  lib/storage/partition.go
  lib/storage/table.go
Labels: vmstorage

#6566 vmui: fix auto-completion triggers
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.tsx
  app/vmui/packages/vmui/src/utils/regexp.ts
  docs/CHANGELOG.md
Labels: vmui
