Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-11, with the labels that each got.

#7344 vmui/logs: add log sorting
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui, victorialogs

#7489 app/vmauth: properly check for backend health before leastLoaded policy
  app/vmauth/auth_config.go
  app/vmauth/auth_config_test.go
  docs/changelog/CHANGELOG.md
Labels: vmauth

#7529 fix typos error VL-Extra-Field in docs
  docs/VictoriaLogs/data-ingestion/README.md
Labels: bug, docs

#7575 vmui: add `Raw Query` tab
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/api/query-range.ts
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/hooks/useGetMetricsQL.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DisplayTypeSwitch.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/DownloadReport.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomaly.tsx
  app/vmui/packages/vmui/src/pages/RawQueryPage/hooks/useFetchExport.ts
  app/vmui/packages/vmui/src/pages/RawQueryPage/index.tsx
  app/vmui/packages/vmui/src/router/index.ts
  app/vmui/packages/vmui/src/router/navigation.ts
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  docs/changelog/CHANGELOG.md
Labels: vmui

#7524 vmui/logs: optimize memory consumption
  app/vmui/packages/vmui/.eslintrc.js
  app/vmui/packages/vmui/src/components/Main/Pagination/Pagination.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/PaginationControl/PaginationControl.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/PaginationControl/style.scss
  app/vmui/packages/vmui/src/components/Main/Pagination/style.scss
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  app/vmui/packages/vmui/src/components/Views/JsonView/JsonView.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/TableLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsFieldRow.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui
