Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-05, with the labels that each got.

#6178 vmui/vmanomaly: fix default server url
  app/vmui/packages/vmui/src/utils/default-server-url.ts
Labels: vmui

#6231 vmui/vmanomaly: add download config button
  app/vmui/packages/vmui/src/components/ExploreAnomaly/AnomalyConfig.tsx
  app/vmui/packages/vmui/src/components/ExploreAnomaly/style.scss
  app/vmui/packages/vmui/src/components/Main/Spinner/Spinner.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomaly.tsx
Labels: vmui

#6263 vmui: remove redundant requests on the `Explore Cardinality` page
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useCardinalityFetch.ts
  docs/CHANGELOG.md
Labels: vmui

#6296 vmui/logs: change time range to `start` and `end` query args
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui, victorialogs

#6284 vmui: fix URL params handling for navigation
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/state/customPanel/reducer.ts
  app/vmui/packages/vmui/src/state/time/reducer.ts
  app/vmui/packages/vmui/src/utils/url.ts
  docs/CHANGELOG.md
Labels: vmui

#6310 vmui/logs: fix parsing long `_msg` values
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6295 [vmlogs] fixed time parsing with millisecond precision time (#6293)
  app/victoria-logs/Makefile
  docs/VictoriaLogs/CHANGELOG.md
  lib/logstorage/parser.go
  lib/logstorage/parser_test.go
Labels: victorialogs
