Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-01, with the labels that each got.

#5570 CHANGELOG.md: fixed wrong links to vmalert-tool documentation page
  docs/CHANGELOG.md
Labels: bug, docs

#5578 docs/anomaly-detection/guides/README.md: fixed markdown link to the vmanomaly guide
  docs/anomaly-detection/guides/README.md
Labels: bug, docs

#5594 vmui/vmanomaly: add support models that produce only `anomaly_score`
  app/vmui/packages/vmui/src/components/Chart/Line/LegendAnomaly/LegendAnomaly.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomaly.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/hooks/useFetchAnomalySeries.ts
  app/vmui/packages/vmui/src/types/uplot.ts
  app/vmui/packages/vmui/src/utils/color.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
Labels: vmui

#5639 app/vmui: send `step` param for instant queries
  app/vmui/packages/vmui/src/api/query-range.ts
  docs/CHANGELOG.md
Labels: vmui

#5591 vmui: fix cache autocomplete
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryAutocompleteCache.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  docs/CHANGELOG.md
Labels: vmui

#5611 vmui: add flag for default timezone setting
  README.md
  app/vmselect/main.go
  app/vmselect/vmui.go
  app/vmui/README.md
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/ServerConfigurator/ServerConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/Timezones.tsx
  app/vmui/packages/vmui/src/hooks/useFetchDefaultTimezone.ts
  app/vmui/packages/vmui/src/layouts/AnomalyLayout/AnomalyLayout.tsx
  app/vmui/packages/vmui/src/layouts/LogsLayout/LogsLayout.tsx
  app/vmui/packages/vmui/src/layouts/MainLayout/MainLayout.tsx
  app/vmui/packages/vmui/src/state/time/reducer.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/CHANGELOG.md
  docs/Cluster-VictoriaMetrics.md
  docs/README.md
  docs/Single-server-VictoriaMetrics.md
Labels: vmui

#5497 vmui: query report
  app/vmui/packages/vmui/src/App.tsx
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/style.scss
  app/vmui/packages/vmui/src/components/UploadJsonButtons/UploadJsonButtons.tsx
  app/vmui/packages/vmui/src/components/UploadJsonButtons/style.scss
  app/vmui/packages/vmui/src/constants/date.ts
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/DownloadReport.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/helperText.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/style.scss
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/JsonForm/JsonForm.tsx
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/JsonForm/style.scss
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerInfo/QueryAnalyzerInfo.tsx
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerInfo/style.scss
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerView/QueryAnalyzerView.tsx
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerView/style.scss
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerView/utils.ts
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/TraceUploadButtons/TraceUploadButtons.tsx
  app/vmui/packages/vmui/src/pages/TracePage/index.tsx
  app/vmui/packages/vmui/src/pages/TracePage/style.scss
  app/vmui/packages/vmui/src/router/index.ts
  docs/CHANGELOG.md
Labels: vmui

#5681 vmui: fix Enter key behavior in query autocomplete
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  docs/CHANGELOG.md
Labels: vmui

#5698 app/vmalert: fix data race during hot-config reload
  app/vmalert/manager.go
  docs/CHANGELOG.md
Labels: vmalert

#5717 vmui: fix `Enter` key in query field
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
Labels: vmui

#5726 vmui: add the ability to expand all tracing entries
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/NestedNav.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/NestedNav/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/TracingsView.tsx
  app/vmui/packages/vmui/src/components/TraceQuery/style.scss
  docs/CHANGELOG.md
Labels: vmui
