Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-09, with the labels that each got.

#6998 lib/fs: properly call windows APIs
  docs/changelog/CHANGELOG.md
  lib/fs/fs_windows.go
Labels: windows

#7038 vmui/logs: add auto refresh
  app/vmui/packages/vmui/src/layouts/LogsLayout/ControlsLogsLayout.tsx
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#7007 vmui: update dependencies in package.json to latest versions
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/DatePicker/DatePicker.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/reportWebVitals.ts
Labels: vmui

#7039 vmui: change the `query_range` request method from `GET` to `POST`
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  docs/changelog/CHANGELOG.md
Labels: vmui

#6972 vmui: optimize public directory by cleaning up files
  app/vmui/packages/vmui/.gitignore
  app/vmui/packages/vmui/config-overrides.js
  app/vmui/packages/vmui/public/apple-touch-icon.png
  app/vmui/packages/vmui/public/favicon-32x32.png
  app/vmui/packages/vmui/public/favicon.svg
  app/vmui/packages/vmui/public/manifest.json
  app/vmui/packages/vmui/public/preview.jpg
  app/vmui/packages/vmui/src/html/victorialogs.html
  app/vmui/packages/vmui/src/html/victoriametrics.html
  app/vmui/packages/vmui/src/html/vmanomaly.html
Labels: vmui

#7037 vmui: add functionality to preserve selected columns
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/pages/CustomPanel/CustomPanelTabs/TableTab.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerView/QueryAnalyzerView.tsx
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#7088 vmui: add link to vmalert
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/hooks/useFetchFlags.ts
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/HeaderNav.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavItem.tsx
  app/vmui/packages/vmui/src/layouts/Header/HeaderNav/NavSubItem.tsx
  app/vmui/packages/vmui/src/layouts/MainLayout/MainLayout.tsx
  app/vmui/packages/vmui/src/state/common/reducer.ts
  app/vmui/packages/vmui/src/utils/tenants.ts
  docs/changelog/CHANGELOG.md
Labels: vmui

#7118 stream aggregation: fix possible duplicated aggregation results
  docs/changelog/CHANGELOG.md
  lib/promutils/labelscompressor.go
  lib/promutils/labelscompressor_test.go
Labels: bug

#6160 feature: [vmagent] Add service discovery support for OVH Cloud VPS and dedicated server
  docs/README.md
  docs/changelog/CHANGELOG.md
  docs/sd_configs.md
  docs/vmagent.md
  lib/promscrape/config.go
  lib/promscrape/discovery/ovhcloud/api.go
  lib/promscrape/discovery/ovhcloud/api_test.go
  lib/promscrape/discovery/ovhcloud/common.go
  lib/promscrape/discovery/ovhcloud/dedicated_server.go
  lib/promscrape/discovery/ovhcloud/dedicated_server_test.go
  lib/promscrape/discovery/ovhcloud/mock_server_test.go
  lib/promscrape/discovery/ovhcloud/ovhcloud.go
  lib/promscrape/discovery/ovhcloud/ovhcloud_test.go
  lib/promscrape/discovery/ovhcloud/vps.go
  lib/promscrape/discovery/ovhcloud/vps_test.go
  lib/promscrape/scraper.go
Labels: vmagent
