Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-04, with the labels that each got.

#6033 vmui: fix trigger auto-suggestion
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/utils/regexp.ts
  docs/CHANGELOG.md
Labels: vmui

#6034 vmui: fix step update on input blur in Firefox/Safari
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  docs/CHANGELOG.md
Labels: vmui

#6082 fixed EXPOSE port for VictoriaLogs' Dockerfiles
  app/victoria-logs/deployment/Dockerfile
  app/victoria-logs/multiarch/Dockerfile
Labels: bug, logs, victorialogs

#6017 vmui/vmanomaly: integrate vmanomaly query_server
  app/vmui/packages/vmui/public/dashboards/README.md
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/Legend.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/LegendItem/LegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/LegendAnomaly/LegendAnomaly.tsx
  app/vmui/packages/vmui/src/components/Chart/Line/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Configurators/AdditionalSettings/AdditionalSettings.tsx
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/constants/navigation.ts
  app/vmui/packages/vmui/src/hooks/uplot/useLineTooltip.ts
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/pages/CustomPanel/CustomPanelTabs/GraphTab.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/style.scss
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomaly.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomalyHeader/ExploreAnomalyHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/ExploreAnomalyHeader/style.scss
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/hooks/useFetchAnomalySeries.ts
  app/vmui/packages/vmui/src/pages/ExploreAnomaly/hooks/useSetQueryParams.ts
  app/vmui/packages/vmui/src/types/uplot.ts
  app/vmui/packages/vmui/src/utils/default-server-url.ts
  app/vmui/packages/vmui/src/utils/time.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
Labels: vmui

#6101 vmui: preserve select value on blur if it matches list
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  docs/CHANGELOG.md
Labels: vmui

#6142 Bump snap go builder version from v1.20 to v1.22
  snap/snapcraft.yaml
Labels: ARM, snap

#6120 deployment/docker/victorialogs/fluentbit-docker/docker-compose.yml: update fluentbit version from v2.1.4 to v3.0.2
  deployment/docker/victorialogs/fluentbit-docker/docker-compose.yml
Labels: logs, victorialogs

#6155 vmui: trigger auto-suggestion at any cursor position
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/style.scss
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/TextField.tsx
  app/vmui/packages/vmui/src/components/Main/TextField/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.tsx
  docs/CHANGELOG.md
Labels: vmui

#6177 vmui: improve error message for server response issues
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  docs/CHANGELOG.md
Labels: vmui
