Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2024-02, with the labels that each got.

#5758 vmui: fix handling invalid timezone
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/Timezones.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/WarningTimezone.tsx
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/Timezones/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchDefaultTimezone.ts
  app/vmui/packages/vmui/src/state/time/reducer.ts
  app/vmui/packages/vmui/src/utils/time.ts
  docs/CHANGELOG.md
Labels: vmui

#5755 vmui: improve select component functionality
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Select/Select.tsx
  app/vmui/packages/vmui/src/hooks/useClickOutside.ts
  docs/CHANGELOG.md
Labels: vmui

#5804 vmui: improve the context for autocomplete
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/style.scss
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/style.scss
  app/vmui/packages/vmui/src/constants/queryAutocomplete.ts
  app/vmui/packages/vmui/src/hooks/useFetchQueryOptions.tsx
  docs/CHANGELOG.md
Labels: vmui

#5822 vmui: update package-lock.json
  app/vmui/packages/vmui/package-lock.json
Labels: vmui

#5842 vmui: fix display Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  docs/CHANGELOG.md
Labels: vmui

#5808 vmui: add a time picker to the "Logs Explorer" page
  app/vmui/packages/vmui/src/layouts/LogsLayout/ControlsLogsLayout.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  docs/CHANGELOG.md
Labels: vmui

#5890 docker-compose: bump alertmanager version from v0.25.0 to the latest v0.27.0
  deployment/docker/docker-compose-cluster.yml
  deployment/docker/docker-compose.yml
  deployment/docker/vmanomaly/vmanomaly-integration/docker-compose.yml
Labels: enhancement

#5901 fixed broken link in docs to google pub sub
  docs/vmagent.md
Labels: docs

#5862 vmui: add gap display option for charts
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/Chart/Line/LineChart/LineChart.tsx
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/GraphSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/LinesConfigurator/LinesConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/GraphSettings/style.scss
  app/vmui/packages/vmui/src/components/Views/GraphView/GraphView.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/CustomPanelTabs/GraphTab.tsx
  app/vmui/packages/vmui/src/pages/PredefinedPanels/PredefinedPanel/PredefinedPanel.tsx
  app/vmui/packages/vmui/src/pages/QueryAnalyzer/QueryAnalyzerView/QueryAnalyzerView.tsx
  app/vmui/packages/vmui/src/state/graph/reducer.ts
  app/vmui/packages/vmui/src/utils/uplot/series.ts
  docs/CHANGELOG.md
Labels: vmui

#5799 vmui: add field for log entries limit
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/TableLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
Labels: vmui
