Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-09, with the labels that each got.

#9639 .github/workflow: add check commit signed action
  .github/workflows/check-commit-signed.yml
Labels: chore

#9558 app/vmalert-tool: Force ipv4 binding in vmalert unit test
  app/vmalert-tool/unittest/unittest.go
Labels: chore

#9659 docs/stream-aggregation: Add deduplication common mistake
  docs/victoriametrics/stream-aggregation/README.md
Labels: docs, streamaggr, chore

#9674 vmui: fix useSearchParamsFromObject not updating searchParams
  app/vmui/packages/vmui/src/hooks/useSearchParamsFromObject.ts
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#9681 docs/url-examples: align export example format with import example
  docs/victoriametrics/url-examples.md
Labels: enhancement, docs

#9705 docs: add slash at the end to avoid redirect
  docs/anomaly-detection/CHANGELOG.md
  docs/anomaly-detection/FAQ.md
  docs/anomaly-detection/QuickStart.md
  docs/anomaly-detection/README.md
  docs/anomaly-detection/components/README.md
  docs/anomaly-detection/components/models.md
  docs/anomaly-detection/components/monitoring.md
  docs/anomaly-detection/components/reader.md
  docs/anomaly-detection/components/scheduler.md
  docs/anomaly-detection/components/settings.md
  docs/guides/getting-started-with-vm-operator/README.md
  docs/guides/guide-delete-or-replace-metrics/README.md
  docs/guides/k8s-ha-monitoring-via-vm-cluster/README.md
  docs/victoriametrics/README.md
  docs/victoriametrics/Troubleshooting.md
  docs/victoriametrics/changelog/CHANGELOG_2022.md
  docs/victoriametrics/changelog/CHANGELOG_2023.md
  docs/victoriametrics/changelog/CHANGELOG_2024.md
  docs/victoriametrics/enterprise.md
  docs/victoriametrics/relabeling.md
  docs/victoriametrics/stream-aggregation/configuration.md
  docs/victoriametrics/vmagent.md
  docs/victoriametrics/vmbackupmanager.md
  docs/victoriametrics/vmctl/cortex.md
  docs/victoriametrics/vmctl/influxdb.md
  docs/victoriametrics/vmctl/mimir.md
  docs/victoriametrics/vmctl/opentsdb.md
  docs/victoriametrics/vmctl/prometheus.md
  docs/victoriametrics/vmctl/promscale.md
  docs/victoriametrics/vmctl/remoteread.md
  docs/victoriametrics/vmctl/thanos.md
  docs/victoriametrics/vmctl/vmctl.md
Labels: enhancement, docs, chore

#9767 app/{vmbackup/vmrestore}: push metrics on shutdown
  app/vmbackup/main.go
  app/vmrestore/main.go
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/pushmetrics/pushmetrics.go
Labels: support
