Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-06, with the labels that each got.

#9113 docs/cloud: add explore data page
  docs/victoriametrics-cloud/deployments/_index.md
  docs/victoriametrics-cloud/explore-cardinality.webp
  docs/victoriametrics-cloud/explore-query.webp
  docs/victoriametrics-cloud/explore-tools.webp
  docs/victoriametrics-cloud/exploring-data.md
Labels: docs

#9082 app/vlinsert: add logging of skipped bytes for log lines exceeding insert.maxLineSizeBytes
  app/vlinsert/insertutil/line_reader.go
  docs/victorialogs/CHANGELOG.md
Labels: victorialogs

#9139 .github/workflows: allow codecov to report without failing CI build
  .github/workflows/main.yml
Labels: enhancement

#9055 issue-7599: add test for deletion of pending rows
  apptest/model.go
  apptest/tests/legacy_indexdb_test.go
  apptest/tests/multitenant_test.go
  apptest/vmselect.go
  apptest/vmsingle.go
  lib/storage/index_db.go
  lib/storage/partition.go
  lib/storage/partition_search.go
  lib/storage/storage.go
  lib/storage/storage_legacy.go
  lib/storage/storage_test.go
Labels: enhancement, vmstorage

#8553 app/vlinsert: introduced flags, that enable syslog severity and journald priority fields casting to a level field
  app/vlinsert/journald/journald.go
  app/vlinsert/journald/journald_test.go
  app/vlinsert/syslog/syslog.go
  app/vlinsert/syslog/syslog_test.go
  docs/victorialogs/CHANGELOG.md
  docs/victorialogs/README.md
  lib/logstorage/pipe_unpack_syslog.go
  lib/logstorage/syslog_parser.go
  lib/logstorage/syslog_parser_test.go
Labels: enhancement, victorialogs

#9194 app/vmui/logs: improve usability of the live tailing tab
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/ScrollToTopButton/ScrollToTopButton.tsx
  app/vmui/packages/vmui/src/components/ScrollToTopButton/style.scss
  app/vmui/packages/vmui/src/hooks/useLocalStorageBoolean.test.ts
  app/vmui/packages/vmui/src/hooks/useLocalStorageBoolean.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/LiveTailingSettings.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/LiveTailingView.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/useLiveTailingLogs.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/utils.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsFields.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  app/vmui/packages/vmui/src/utils/storage.ts
Labels: vmui, victorialogs

#9162 app/vmui/logs: ensure the live tailing tab automatically reconnects on connection loss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/useLiveTailingLogs.ts
  docs/victorialogs/CHANGELOG.md
Labels: vmui, victorialogs

#8799 app/vmui/logs: fix missing field values in auto-complete
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/LogsQueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/parser.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/types.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/useFetchLogsQLOptions.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/util.test.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/utils.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/victorialogs/CHANGELOG.md
Labels: vmui, victorialogs

#9225 vlogs: fix inconsistent type for HTTP request duration metric
  app/vlinsert/datadog/datadog.go
  app/vlinsert/elasticsearch/elasticsearch.go
  app/vlinsert/internalinsert/internalinsert.go
  app/vlinsert/journald/journald.go
  app/vlinsert/jsonline/jsonline.go
  app/vlinsert/loki/loki_json.go
  app/vlinsert/loki/loki_protobuf.go
  app/vlinsert/opentelemetry/opentelemetry.go
Labels: bug, victorialogs

#9235 lib/logstorage: clarify comment on writeBlockResultFunc usage constraints
  lib/logstorage/storage_search.go
Labels: enhancement, victorialogs

#9156 vmstorage: add flag for storage metricName cache tuning
  app/vmstorage/main.go
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/storage/storage.go
Labels: enhancement, vmstorage

#9125 lib/httpserver: option for disabling HTTP keep-alives
  docs/victorialogs/CHANGELOG.md
  docs/victorialogs/README.md
  docs/victoriametrics/Cluster-VictoriaMetrics.md
  docs/victoriametrics/README.md
  docs/victoriametrics/changelog/CHANGELOG.md
  docs/victoriametrics/vmagent.md
  docs/victoriametrics/vmalert.md
  docs/victoriametrics/vmauth.md
  docs/victoriametrics/vmbackup.md
  docs/victoriametrics/vmbackupmanager.md
  docs/victoriametrics/vmgateway.md
  docs/victoriametrics/vmrestore.md
  lib/httpserver/httpserver.go
Labels: enhancement

#8745 app/vmui/logs: move compact mode of VictoriaLogs table to separate tab
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
  app/vmui/packages/vmui/src/components/Main/Button/Button.tsx
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/JsonView/JsonView.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/JsonView/JsonViewSettings/JsonViewSettings.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/JsonView/JsonViewSettings/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/JsonView/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/JsonView/types.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/LiveTailingView/LiveTailingView.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/TableView/TableView.tsx
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#9258 deployment/docker: Update grafana image version due to CVE issue
  deployment/docker/compose-vl-cluster.yml
  deployment/docker/compose-vl-single.yml
  deployment/docker/compose-vm-cluster.yml
  deployment/docker/compose-vm-single.yml
  deployment/docker/vmanomaly/vmanomaly-integration/compose.yml
  deployment/logs-benchmark/docker-compose.yml
Labels: enhancement
