Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-07, with the labels that each got.

#9275 docs: Update journald ingestion docs regarding suggested fields
  docs/victorialogs/data-ingestion/Journald.md
Labels: docs, victorialogs

#9329 deployment/docker: add troubleshooting section
  deployment/docker/README.md
Labels: chore

#9342 vmui: disable autocomplete popup on initial page load
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  docs/victorialogs/CHANGELOG.md
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#9304 VictoriaLogs: fix rate_sum() inconsistency between normal queries and vmalert recording rules
  docs/victorialogs/CHANGELOG.md
  lib/logstorage/parser.go
Labels: victorialogs

#9316 VictoriaLogs: add message processor metrics
  app/vlinsert/insertutil/common_params.go
Labels: victorialogs

#9319 VictoriaLogs: Add metrics to track the retention.maxDiskSpaceUsageBytes flag
  app/vlstorage/main.go
Labels: victorialogs

#8767 lib/logstorage: add support for parsing Unix timestamp in format pipe
  app/vlinsert/elasticsearch/elasticsearch.go
  app/vlinsert/insertutil/timestamp.go
  app/vlinsert/insertutil/timestamp_test.go
  app/vlinsert/loki/loki_json.go
  docs/victorialogs/CHANGELOG.md
  docs/victorialogs/LogsQL.md
  lib/logstorage/pipe_format.go
  lib/logstorage/pipe_format_test.go
  lib/logstorage/values_encoder.go
  lib/logstorage/values_encoder_test.go
Labels: victorialogs

#9039 ci: upgrade golangci-lint v1.64.7 -> v2.2.1
  .golangci.yml
  Makefile
  app/vmagent/remotewrite/client.go
  app/vmagent/remotewrite/client_test.go
  app/vmalert-tool/unittest/unittest.go
  app/vmalert/notifier/config_watcher.go
  app/vmalert/web.go
  app/vmctl/stepper/split.go
  app/vmselect/prometheus/prometheus.go
  apptest/tests/dedup_test.go
  apptest/tests/metric_names_stats_test.go
  apptest/tests/replication_test.go
  apptest/tests/vmagent_remotewrite_test.go
  lib/decimal/decimal.go
  lib/promscrape/discovery/kubernetes/api_watcher.go
  lib/promscrape/discovery/ovhcloud/common.go
  lib/promscrape/scrapework_test.go
Labels: chore

#9468 vmui: removed codeql, added reporter for eslint
  .github/workflows/codeql-analysis-js-ts.yml
  .github/workflows/vmui.yml
  app/vmui/packages/vmui/.gitignore
  app/vmui/packages/vmui/package.json
Labels: chore

#9508 docs: mention that single-node supports HA in cluster recommendation
  docs/victoriametrics/Cluster-VictoriaMetrics.md
  docs/victoriametrics/FAQ.md
Labels: docs, chore

#9480 vmui: always show tenant selector if tenant list is not empty
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/TenantsConfiguration/TenantsConfiguration.tsx
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#9524 Fixed typo
  docs/victoriametrics/README.md
  docs/victoriametrics/vmalert.md
Labels: docs, chore
