Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-04, with the labels that each got.

#8669 lib/backup/s3: properly set ProfileName
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/backup/s3remote/s3.go
Labels: vmbackup

#8704 lib/writeconcurrencylimiter: add some hints to unexpected EOF error message.
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/writeconcurrencylimiter/concurrencylimiter.go
Labels: enhancement, vmagent, vmstorage

#8727 vmui: update package.json
  app/vmui/packages/vmui/package-lock.json
  app/vmui/packages/vmui/package.json
Labels: vmui

#8671 app/vmui: add export logs button to VictoriaLogs
  app/vmui/packages/vmui/src/components/DownloadButton/DownloadButton.tsx
  app/vmui/packages/vmui/src/components/DownloadButton/style.scss
  app/vmui/packages/vmui/src/components/TraceQuery/TracingsView.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/DownloadReport/DownloadReport.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/DownloadLogsButton/DownloadLogsButton.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/utils/file.ts
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#8754 vmagent: Reduce log noise from remote write retries
  app/vmagent/remotewrite/client.go
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: enhancement, vmagent

#8722 lib/storage/metricnamestats: allow regex for match_pattern
  app/vmselect/stats/stats.go
  docs/victoriametrics/README.md
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/storage/metricnamestats/tracker.go
  lib/storage/metricnamestats/tracker_test.go
Labels: enhancement

#8764 app/vmselect/netstorage: properly set max read size for metric name
  app/vmselect/netstorage/netstorage.go
  apptest/tests/metric_names_stats_test.go
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/storage/metricnamestats/tracker.go
Labels: bug, vmselect

#8769 lib/backup/s3remote: enable HTTP/2 for S3 connections
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/backup/s3remote/s3.go
Labels: bug, vmbackup

#8548 vmui/logs: handle ANSI escape sequences
  app/vmui/packages/vmui/src/components/Configurators/GlobalSettings/GlobalSettings.tsx
  app/vmui/packages/vmui/src/components/Configurators/LogsSettings/LogParsingSwitches.tsx
  app/vmui/packages/vmui/src/components/Configurators/LogsSettings/MarkdownParsing/SwitchMarkdownParsing.tsx
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/state/logsPanel/reducer.ts
  app/vmui/packages/vmui/src/utils/ansiParser.test.ts
  app/vmui/packages/vmui/src/utils/ansiParser.tsx
  app/vmui/packages/vmui/src/utils/math.ts
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#8784 vmui: hide duplicate legend items in Raw Query
  app/vmui/packages/vmui/src/components/Chart/Line/Legend/hooks/useGroupSeries.ts
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#8794 vmui/logs: fix oversized `Query History` button on mobile
  app/vmui/packages/vmui/src/components/Main/Button/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/style.scss
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#8777 vmui: fix `/flags` API requests to respect custom URL prefixes
  app/vmui/packages/vmui/src/hooks/useFetchFlags.ts
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#8757 vmui/logs: show read usage in Cardinality Explorer
  app/vmselect/main.go
  app/vmui/packages/vmui/src/api/tsdb.ts
  app/vmui/packages/vmui/src/constants/dayjsPlugins.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/CardinalityMetricNameStats.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/CardinalityTotals.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/MetricsContent.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableCells/TableCells.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/types.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appConfigurator.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appTableHeaders.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useCardinalityFetch.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/index.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/types.ts
  app/vmui/packages/vmui/src/styles/components/dynamic-number.scss
  docs/victoriametrics/README.md
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#8597 vmagent: add consistent hashing for the remote write
  app/vmagent/remotewrite/remotewrite.go
  app/vmagent/remotewrite/remotewrite_test.go
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/consistenthash/consistent_hash.go
  lib/consistenthash/consistent_hash_test.go
  lib/consistenthash/consistent_hash_timing_test.go
Labels: enhancement, vmagent

#8814 docs/cloud: add organizations documents
  docs/victoriametrics-cloud/account-management/organizations.md
Labels: docs

#8816 vmui/logs/fix sorting issues
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsFields.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  docs/victorialogs/CHANGELOG.md
Labels: vmui
