Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-01, with the labels that each got.

#7977 docs: mention publicly available playgrounds
  docs/README.md
Labels: docs

#6949 vmui/logs: add autocomplete support for LogsQL
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/LogsQueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/parser.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/pipes.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/types.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/useFetchLogsQLOptions.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditorAutocomplete.tsx
  app/vmui/packages/vmui/src/components/Main/Autocomplete/Autocomplete.tsx
  app/vmui/packages/vmui/src/pages/CustomPanel/QueryConfigurator/QueryConfigurator.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/ExploreLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsHeader/style.scss
  app/vmui/packages/vmui/src/state/logsPanel/reducer.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#7997 lib/storage: make finalDedup schedule interval configurable
  app/victoria-metrics/main.go
  docs/Cluster-VictoriaMetrics.md
  docs/README.md
  docs/changelog/CHANGELOG.md
  lib/storage/table.go
Labels: vmstorage

#7998 lib/storage: add a hint for merge about type of parts in merge
  app/vmstorage/main.go
  docs/Cluster-VictoriaMetrics.md
  docs/README.md
  lib/logstorage/indexdb.go
  lib/mergeset/part.go
  lib/mergeset/part_search.go
  lib/mergeset/part_search_test.go
  lib/mergeset/table.go
  lib/mergeset/table_search.go
  lib/mergeset/table_search_test.go
  lib/mergeset/table_search_timing_test.go
  lib/mergeset/table_test.go
  lib/storage/block_stream_merger.go
  lib/storage/index_db.go
  lib/storage/index_db_test.go
  lib/storage/merge.go
  lib/storage/merge_test.go
  lib/storage/merge_timing_test.go
  lib/storage/partition.go
  lib/storage/search.go
  lib/storage/storage.go
Labels: vmstorage

#8022 lib/storage: reduce test suite batch size
  lib/storage/storage_test.go
Labels: vmstorage

#7815 vmui/logs: improvements to grouped view in logs
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/style.scss
  app/vmui/packages/vmui/src/components/Main/Accordion/Accordion.tsx
  app/vmui/packages/vmui/src/components/Main/Modal/Modal.tsx
  app/vmui/packages/vmui/src/components/Main/Select/style.scss
  app/vmui/packages/vmui/src/constants/logs.ts
  app/vmui/packages/vmui/src/hooks/useClickOutside.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsFieldRow.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsHeaderItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#8104 app/vmauth: remove readTrackingBody pool
  app/vmauth/main.go
  app/vmauth/main_test.go
  docs/changelog/CHANGELOG.md
Labels: vmauth

#7990 vmagent doc: estimating the message size and rate when using Kafka
  docs/vmagent.md
Labels: vmagent, docs

#8095 vmui: fix issue with query execution and line breaks in query editor
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/QueryEditor.tsx
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#7979 vmui: save column settings in URL #7662
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/style.scss
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/VictoriaLogs/CHANGELOG.md
  docs/changelog/CHANGELOG.md
Labels: vmui

#7750 vmui/logs: update hits chart legend
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsChart.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsLegend/BarHitsLegend.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsLegend/BarHitsLegendItem.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsLegend/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/BarHitsTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/LegendHitsMenu.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/LegendHitsMenuBase.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/LegendHitsMenuFields.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/LegendHitsMenuRow.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/LegendHitsMenuStats.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/LegendHitsMenu/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/hooks/useBarHitsOptions.ts
  app/vmui/packages/vmui/src/components/Chart/ChartTooltip/style.scss
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/Popper.tsx
  app/vmui/packages/vmui/src/components/Main/Popper/style.scss
  app/vmui/packages/vmui/src/constants/logs.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsHeaderItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/utils/logs.ts
  app/vmui/packages/vmui/src/utils/math.ts
  app/vmui/packages/vmui/src/utils/object.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui, victorialogs

#8174 vmui/logs: fix transparency for bars in hits chart
  app/vmui/packages/vmui/src/api/types.ts
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/BarHitsTooltip.tsx
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/BarHitsTooltip/style.scss
  app/vmui/packages/vmui/src/components/Chart/BarHitsChart/hooks/useBarHitsOptions.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#8178 vmui: refactor clipboard handling with useCopyToClipboard hook
  app/vmui/packages/vmui/src/components/Main/CodeExample/CodeExample.tsx
  app/vmui/packages/vmui/src/components/Table/Table.tsx
  docs/changelog/CHANGELOG.md
Labels: vmui

#8177 vmui/logs: add `_msg` to group view field list
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui
