Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-05, with the labels that each got.

#8658 app/vmalert feat: add Debug to rule.Group
  app/vmalert/config/config.go
  app/vmalert/rule/alerting.go
  app/vmalert/rule/group.go
  app/vmalert/rule/group_test.go
  app/vmalert/rule/recording.go
  docs/victoriametrics/changelog/CHANGELOG.md
  docs/victoriametrics/vmalert.md
Labels: enhancement, vmalert

#8876 Add text to cloud integrations
  docs/victoriametrics-cloud/integrations/README.md
  docs/victoriametrics-cloud/integrations/cloud-alertmanager.md
  docs/victoriametrics-cloud/integrations/cloudwatch.md
  docs/victoriametrics-cloud/integrations/curl.md
  docs/victoriametrics-cloud/integrations/custom-alertmanager.md
  docs/victoriametrics-cloud/integrations/grafana.md
  docs/victoriametrics-cloud/integrations/kubernetes.md
  docs/victoriametrics-cloud/integrations/opentelemetry.md
  docs/victoriametrics-cloud/integrations/perses.md
  docs/victoriametrics-cloud/integrations/prometheus.md
  docs/victoriametrics-cloud/integrations/telegraf.md
  docs/victoriametrics-cloud/integrations/vector.md
  docs/victoriametrics-cloud/integrations/vmagent.md
Labels: docs

#8847 allow parsing Inf values and scientific notation
  app/vmalert-tool/unittest/input.go
  app/vmalert-tool/unittest/input_test.go
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: bug, vmalert

#8684 feature/cors-toggle
  docs/victoriametrics/Cluster-VictoriaMetrics.md
  docs/victoriametrics/README.md
  docs/victoriametrics/changelog/CHANGELOG.md
  docs/victoriametrics/vmagent.md
  docs/victoriametrics/vmalert.md
  docs/victoriametrics/vmauth.md
  docs/victoriametrics/vmbackup.md
  docs/victoriametrics/vmbackupmanager.md
  docs/victoriametrics/vmgateway.md
  docs/victoriametrics/vmrestore.md
  lib/httpserver/httpserver.go
Labels: enhancement

#8676 init config reload related metrics only when configuration is defined
  app/vmagent/remotewrite/relabel.go
  app/vmagent/remotewrite/remotewrite.go
  app/vminsert/common/streamaggr.go
  app/vminsert/relabel/relabel.go
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: bug

#8830 lib/httpserver: move ServeWithOpts to Serve
  app/victoria-logs/main.go
  app/victoria-metrics/main.go
  app/vmagent/main.go
  app/vmalert/main.go
  app/vmauth/main.go
  app/vmbackup/main.go
  app/vmrestore/main.go
  lib/httpserver/httpserver.go
Labels: enhancement

#8692 Adds UTF8 Quoted strings in labels Adds Prometheus 3 syntax in labels and specifying metric name as empty value label
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/promutil/labels_test.go
  lib/protoparser/prometheus/parser.go
  lib/protoparser/prometheus/parser_test.go
Labels: enhancement, vmagent, metricsql, vmstorage

#8888 vmui: limit points and response size on raw query page
  app/vmui/packages/vmui/src/pages/RawQueryPage/hooks/useFetchExport.ts
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: vmui

#8886 vmui/logs: fix freeze on timeline zoom
  app/vmui/packages/vmui/src/api/tsdb.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#8913 vmui/logs: fix logs not reloading when query changes
  app/vmui/packages/vmui/src/hooks/useDebounceCallback.ts
  app/vmui/packages/vmui/src/hooks/useUnmount.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogs.tsx
  docs/victorialogs/CHANGELOG.md
Labels: vmui

#8911 vmalert: Add link to UI on welcome page.
  app/vmalert/web.go
Labels: enhancement, vmalert

#8857 use separate data structure for metricIDs
  lib/storage/index_db.go
Labels: enhancement, vmstorage

#8938 fix auth header always get the same hash thus causing config changes not apply
  docs/victoriametrics/changelog/CHANGELOG.md
  lib/promauth/config.go
  lib/promauth/config_test.go
Labels: enhancement

#8945 changelog: add advice to skip affected versions
  docs/victoriametrics/changelog/CHANGELOG.md
Labels: bug, docs

#8950 Capitalize "Enterprise" in VictoriaMetrics Enterprise phrase
  docs/guides/guide-vmcluster-multiple-retention-setup/README.md
  docs/victoriametrics/Cluster-VictoriaMetrics.md
  docs/victoriametrics/README.md
  docs/victoriametrics/changelog/CHANGELOG.md
  docs/victoriametrics/changelog/CHANGELOG_2021.md
  docs/victoriametrics/changelog/CHANGELOG_2022.md
  docs/victoriametrics/changelog/CHANGELOG_2023.md
  docs/victoriametrics/changelog/CHANGELOG_2024.md
  docs/victoriametrics/enterprise.md
  lib/storage/partition.go
Labels: enhancement, docs

#8928 Docs/cloud: complete deployments section
  docs/guides/understand-your-setup-size/README.md
  docs/victoriametrics-cloud/alerting-vmalert-victoria-metrics-cloud.md
  docs/victoriametrics-cloud/alertmanager-setup-for-deployment.md
  docs/victoriametrics-cloud/deployments/README.md
  docs/victoriametrics-cloud/deployments/tiers-and-types.md
  docs/victoriametrics-cloud/how-to-monitor-k8s.md
  docs/victoriametrics-cloud/tiers-parameters.md
Labels: docs

#9032 docs/cloud: adapt integrations
  docs/victoriametrics-cloud/integrations/cloud-alertmanager.md
  docs/victoriametrics-cloud/integrations/cloudwatch.md
  docs/victoriametrics-cloud/integrations/curl.md
  docs/victoriametrics-cloud/integrations/custom-alertmanager.md
  docs/victoriametrics-cloud/integrations/grafana.md
  docs/victoriametrics-cloud/integrations/kubernetes.md
  docs/victoriametrics-cloud/integrations/opentelemetry.md
  docs/victoriametrics-cloud/integrations/perses.md
  docs/victoriametrics-cloud/integrations/prometheus.md
  docs/victoriametrics-cloud/integrations/telegraf.md
  docs/victoriametrics-cloud/integrations/vector.md
  docs/victoriametrics-cloud/integrations/vmagent.md
Labels: docs

#9030 deployment/logs-benchmark: fix URLs to benchmark data
  deployment/logs-benchmark/source_logs/download.sh
Labels: victorialogs

#9040 vmcloud: add info about api go client to the docs
  docs/victoriametrics-cloud/api.md
Labels: docs

#9004 vmui/logs: add sort pipe handling
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/utils/sort.test.ts
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/utils/sort.ts
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/components/Table/TableSettings/TableSettings.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/views/TableView/TableView.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  docs/victorialogs/CHANGELOG.md
Labels: vmui
