Repository VictoriaMetrics/VictoriaMetrics, pull requests merged in 2025-02, with the labels that each got.

#8266 vmui: update default step calculation for instant queries
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/StepConfigurator.tsx
  app/vmui/packages/vmui/src/components/Configurators/StepConfigurator/style.scss
  app/vmui/packages/vmui/src/hooks/useFetchQuery.ts
  app/vmui/packages/vmui/src/utils/time.ts
  docs/changelog/CHANGELOG.md
Labels: vmui

#8265 vmui/logs: fix autocomplete ignoring selected tenant
  app/vmui/packages/vmui/src/components/Configurators/QueryEditor/LogsQL/useFetchLogsQLOptions.tsx
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#8331 docs: create get-started cloud section
  docs/victoriametrics-cloud/README.md
  docs/victoriametrics-cloud/_index.md
  docs/victoriametrics-cloud/get-started/_index.md
  docs/victoriametrics-cloud/get-started/get_started_preview.webp
  docs/victoriametrics-cloud/get-started/overview.md
  docs/victoriametrics-cloud/get-started/quick_start_restore_password.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_email.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_email_field.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_message.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_profile_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_profile_fields.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_choose_google_account.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_create_account_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_default.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_confirm.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_confirmed.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_not_confirmed.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_errors.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_fill.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_google_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_success.webp
  docs/victoriametrics-cloud/get-started/quickstart.md
  docs/victoriametrics-cloud/get-started/quickstart_aws-purchase-click.webp
  docs/victoriametrics-cloud/get-started/quickstart_continue-subscribe.webp
  docs/victoriametrics-cloud/get-started/quickstart_customise-deployment.webp
  docs/victoriametrics-cloud/get-started/quickstart_deployments.webp
  docs/victoriametrics-cloud/get-started/quickstart_email-confirm.webp
  docs/victoriametrics-cloud/get-started/quickstart_setup-your-account.webp
  docs/victoriametrics-cloud/get-started/quickstart_signin.webp
  docs/victoriametrics-cloud/get-started/quickstart_signup-page.webp
  docs/victoriametrics-cloud/get-started/quickstart_subscribe.webp
  docs/victoriametrics-cloud/get-started/quickstart_write-token.webp
  docs/victoriametrics-cloud/overview.md
Labels: docs

#8334 vmui: optimize group view
  app/vmui/packages/vmui/src/components/LogsConfigurators/GroupLogsConfigurators/GroupLogsConfigurators.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/SelectLimit/SelectLimit.tsx
  app/vmui/packages/vmui/src/components/Main/Pagination/SelectLimit/style.scss
  app/vmui/packages/vmui/src/components/Main/Pagination/style.scss
  app/vmui/packages/vmui/src/constants/logs.ts
  app/vmui/packages/vmui/src/constants/palette.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/ExploreLogsBody.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/ExploreLogsBody/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogs.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsFieldRow.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsHeader.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/GroupLogsItem.tsx
  app/vmui/packages/vmui/src/pages/ExploreLogs/GroupLogs/style.scss
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogHits.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/useFetchLogs.ts
  app/vmui/packages/vmui/src/pages/ExploreLogs/hooks/usePaginateGroups.ts
  app/vmui/packages/vmui/src/types/index.ts
  app/vmui/packages/vmui/src/utils/storage.ts
  docs/VictoriaLogs/CHANGELOG.md
Labels: vmui

#6314 lib/streamaggr: added aggregation windows
  app/vmagent/remotewrite/remotewrite_test.go
  app/vmagent/remotewrite/streamaggr.go
  app/vminsert/common/streamaggr.go
  docs/README.md
  docs/changelog/CHANGELOG.md
  docs/stream-aggregation.md
  docs/vmagent.md
  lib/streamaggr/avg.go
  lib/streamaggr/count_samples.go
  lib/streamaggr/count_series.go
  lib/streamaggr/dedup.go
  lib/streamaggr/dedup_test.go
  lib/streamaggr/dedup_timing_test.go
  lib/streamaggr/deduplicator.go
  lib/streamaggr/deduplicator_test.go
  lib/streamaggr/deduplicator_timing_test.go
  lib/streamaggr/histogram_bucket.go
  lib/streamaggr/last.go
  lib/streamaggr/max.go
  lib/streamaggr/min.go
  lib/streamaggr/output.go
  lib/streamaggr/quantiles.go
  lib/streamaggr/rate.go
  lib/streamaggr/std.go
  lib/streamaggr/stddev.go
  lib/streamaggr/stdvar.go
  lib/streamaggr/streamaggr.go
  lib/streamaggr/streamaggr_test.go
  lib/streamaggr/sum_samples.go
  lib/streamaggr/total.go
  lib/streamaggr/unique_samples.go
Labels: vmagent

#8351 vmui: improve Explore Cardinality page
  app/vmui/packages/vmui/src/components/Main/Icons/index.tsx
  app/vmui/packages/vmui/src/components/Main/LineProgress/LineProgress.tsx
  app/vmui/packages/vmui/src/components/Main/LineProgress/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/CardinalityTotals.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/CardinalityTotals/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/MetricsContent.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/MetricsContent/style.scss
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableCells/TableCells.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/TableHead.tsx
  app/vmui/packages/vmui/src/pages/CardinalityPanel/Table/types.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appConfigurator.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/appTableHeaders.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/hooks/useCardinalityFetch.ts
  app/vmui/packages/vmui/src/pages/CardinalityPanel/style.scss
  app/vmui/packages/vmui/src/styles/components/dynamic-number.scss
  app/vmui/packages/vmui/src/styles/components/table.scss
  docs/changelog/CHANGELOG.md
Labels: vmui

#8363 docs: rework cloud quickstart guide
  docs/victoriametrics-cloud/change_payment_confirmation.webp
  docs/victoriametrics-cloud/change_payment_method.webp
  docs/victoriametrics-cloud/change_payment_method_success.webp
  docs/victoriametrics-cloud/create_deployment_active_email.webp
  docs/victoriametrics-cloud/create_deployment_continue.webp
  docs/victoriametrics-cloud/create_deployment_created.webp
  docs/victoriametrics-cloud/create_deployment_form_up.webp
  docs/victoriametrics-cloud/create_deployment_start.webp
  docs/victoriametrics-cloud/deployment_access.webp
  docs/victoriametrics-cloud/deployment_access_generate_token.webp
  docs/victoriametrics-cloud/deployment_access_read_example.webp
  docs/victoriametrics-cloud/deployment_access_token_examples.webp
  docs/victoriametrics-cloud/deployment_access_token_generated.webp
  docs/victoriametrics-cloud/get-started/create_deployment_form_down.webp
  docs/victoriametrics-cloud/get-started/deployment_access_write_example.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_email.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_email_field.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_message.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_profile_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_restore_password_profile_fields.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_choose_google_account.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_create_account_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_default.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_confirm.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_confirmed.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_email_not_confirmed.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_errors.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_fill.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_google_click.webp
  docs/victoriametrics-cloud/get-started/quick_start_signup_success.webp
  docs/victoriametrics-cloud/get-started/quickstart.md
  docs/victoriametrics-cloud/get-started/quickstart_aws-purchase-click.webp
  docs/victoriametrics-cloud/get-started/quickstart_continue-subscribe.webp
  docs/victoriametrics-cloud/get-started/quickstart_customise-deployment.webp
  docs/victoriametrics-cloud/get-started/quickstart_deployments.webp
  docs/victoriametrics-cloud/get-started/quickstart_email-confirm.webp
  docs/victoriametrics-cloud/get-started/quickstart_setup-your-account.webp
  docs/victoriametrics-cloud/get-started/quickstart_signin.webp
  docs/victoriametrics-cloud/get-started/quickstart_signup-page.webp
  docs/victoriametrics-cloud/get-started/quickstart_subscribe.webp
  docs/victoriametrics-cloud/get-started/quickstart_write-token.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_add_card.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_aws_click.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_aws_finish.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_card_added.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_choose_method.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_invalid_card.webp
  docs/victoriametrics-cloud/how_to_add_payment_method_upgrade.webp
Labels: docs

#8364 docs: fix vmanomaly image broken links
  docs/anomaly-detection/Self-monitoring.md
Labels: bug, docs

#8367 docs/cloud: fix image routes in getstarted
  docs/victoriametrics-cloud/get-started/quickstart.md
Labels: docs
